<div class="pb">
    <app-bluebg></app-bluebg>
    <section class="topper">
        <div class="txt">
            <p>{{MERCHANT_NAME}}</p>
        </div>
        <div class="btnbox">
            <button mat-stroked-button class="contactus-btn">
              Contact Us
          </button>
        </div>
    </section>
    <section class="top">
        <div class="top-left" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
            <div class="top-txtbox">
                <h2>Dental Tips for a Good Oral Hygiene</h2>
                <p>A good oral hygiene routine includes regular visits with your dentist, but you should also practice good habits between visits.</p>
            </div>
        </div>
        <div class="top-right" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
            <div class="top-imgbox">
                <div class="timg">
                    <img class="img" src="/assets/img/campaign/Tips/Strong+Tooth.png">
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="main-top">
            <div class="mt-main">
                <h3 data-aos="fade-up" data-aos-delay="600" data-aos-once="true">Prevention is the best tool when it comes to oral health!</h3>
                <div class="mt-mbody">
                    <div class="mt-ml" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                        <p>Maintaining healthy practices, such as regular brushing and flossing, needs to begin as early as possible to prevent tooth decay and other ailments.</p>
                        <p>This informative video from the Australian Dental Association (ADA) offers 10 pro tips you can use to protect your teeth and help to maintain good oral hygiene.</p>
                        <p>For more tips like this, you can visit the ADA website by searching ada.ord.au/tips or by pressing the button below.</p>
                        <button mat-stroked-button >
                            VISIT ADA WEBSITE <mat-icon>chevron_right</mat-icon>
                        </button>
                    </div>
                    <div class="mt-mr" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                        <div class="videobox1">
                            <video class="video1" controls>
                                <source src="https://vimeo.com/530601635/8b2d21c9fe" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-mid">
            <div class="mm-box">
                <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                    <div>
                        <p><span class="tit">Brushing:</span><br>Brushing is the most effective part of any dental hygiene routine should be done at least twice a day. You should be diligent to make sure your toothbrush makes contact with all surfaces of your teeth including all the sides. Remember to use a toothpaste that is rated for daily brushing and change your toothbrush at least once every three months.</p>
                        <p>Don't forget to clean your tongue! Either brush in circular motions or use a length of floss to gently scrape your tongue clean, follow this by rinsing with a 30-second mouthwash and then spit into the sink.</p>
                    </div>
                </div>
                <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                    <img class="w-img limg" src="/assets/img/campaign/Tips/dental-tools-04.png">
                </div>
            </div>
            <div class="mm-box">
                <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                    <img class="w-img rimg" src="/assets/img/campaign/Tips/dental-tools-floss-02.png">
                </div>
                <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                    <div>
                        <p><span class="tit">Flossing:</span><br>We recommend you floss your teeth at least once a day. The best way to floss is to gently move the floss between teeth, don't force it, and follow the curve of each tooth. This technique helps prevents damaging your gums. As you move from one tooth to another, wrap and re-wrap the string on your fingers to take the used dirty floss away and replace it with clean floss.</p>
                        <p>Piksters/Interdental brushes are another effective tool that can clean the gaps between your teeth and are more suitable for adults with gum disease or large spaces between their teeth.</p>
                    </div>
                </div>
            </div>
            <div class="mm-box">
                <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                    <div>
                        <p><span class="tit">Mouthwash & Tongue:</span><br>Good routines include rinsing your mouth and cleaning your tongue. To clean your tongue you can take your toothbrush and a small amount of toothpaste, brushing your tongue in a circular motion as much as you comfortably can. another way is to use dental floss or a tongue scraping tool - just gently scrape your tongue clean and finish by rinsing your mouth.</p>
                        <p>A small amount of mouthwash is best. Just swish it around your mouth for at least 30 to 60-seconds, keeping your lips closed, before spitting it out into a sink. You should wait for at least 30 minutes before you eat, drink, or smoke to help the fluoride remain in your mouth and will provide the benefits you seek.</p>
                        <p>Hot tip: Don’t rinse with water after using mouthwash!</p>
                    </div>
                </div>
                <div class="mm-imgbox tird" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                    <img class="w-img limg" src="/assets/img/campaign/Tips/mouthwash tools-03.png">
                </div>
            </div>
        </div>
        <div class="main-vid">
            <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Not sure if you’re flossing correctly? We can show you how!</h3>
            <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Most people brush, floss, then rinse, but did you know you’re meant to floss your teeth BEFORE you brush?  Help the bristles of your brush reach those harder areas to help minimise your risk at disease.</p>
            <div class="videobox" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                <video class="video" controls>
                    <source src="https://vimeo.com/417634510/440a850982" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="main-und">
            <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Did you know that your oral health is connected to your body?</h3>
            <div class="uimgbox" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                <img class="w-img" src="/assets/img/campaign/Tips/Anatomy+Body-02.png">
            </div>
            <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true">One thing is clear - your body and your mouth are not separate. You may think bad oral hygiene just means bad teeth and gums, but did you know that inflammation (gingivitis) eat away at the gums and bone structure that hold teeth in place? This is known as periodontitis; a severe gum disease that causes problems in the rest of your body.</p>
            <button mat-stroked-button routerLink="/period" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                YOUR ORAL HEALTH <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <div class="main-bot">
            <div class="mm-box">
                <div class=" b-box" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                    <h4>Regular check-ups help to prevent diseases in the mouth and might save your tooth from an extraction or root canal in the long run.</h4>
                    <h4>Don’t delay any longer {{recipient_first_name}}, click to book in now!</h4>
                    <button mat-stroked-button >
                        REQUEST AN APPOINTMENT <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="mapp">
        <div class="map-main">
            <div class="mmap-box">
                <app-map-view></app-map-view>
            </div>
            <div class="mtxt-box">
                <div>
                    <div class="practice">
                        <h3>Practice Hours</h3>
                        <p>Monday:</p>
                        <p>Tuesday:</p>
                        <p>Wednesday:</p>
                        <p>Thursday:</p>
                        <p>Friday:</p>
                        <p>Saturday:</p>
                        <p>Sunday:</p>
                    </div>
                    <div class="contact">
                        <h3>Contact Us</h3>
                        <p>{{practiceAddress}}</p>
                        <p>{{practiceNumber}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="foot-main">
            <p>This email was sent to {{RECIPIENT_EMAIL}}. This email is confidential and intended only for the stated addressee(s). If you receive this in error, please inform us immediately and delete it and all copies from your system. Any unauthorized disclosure, use, or dissemination, either whole or partial is prohibited. This email and all its attachments are believed to be free of any virus, or defect, but it is the responsibility of the recipient to ensure this. {{MERCHANT_TRADING_NAME}} does not accept responsibility or liability for any loss or damage arising in any way from its receipt or use or for any errors or omissions in its contents that may arise as a result of its transmission.</p>
            <div class="fimg-box">
                <img class="fimg" src="/assets/img/campaign/Tips/bolo.png">
            </div>
        </div>
    </section>
</div>
