@import '~@angular/material/theming';
@include mat-core();


// Smileright Blue
$md-smilerightblue: (
    50 : #e4f1fb,
    100 : #bbdcf5,
    200 : #8dc5ee,
    300 : #5faee7,
    400 : #3d9ce2,
    500 : #1b8bdd,
    600 : #1883d9,
    700 : #1478d4,
    800 : #106ecf,
    900 : #085bc7,
    A100 : #f1f6ff,
    A200 : #bed7ff,
    A400 : #8bb8ff,
    A700 : #71a8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
// Smileright Red
$md-smilerightred: (
    50 : #fee5e7,
    100 : #fcbfc3,
    200 : #fa949c,
    300 : #f76974,
    400 : #f64956,
    500 : #f42938,
    600 : #f32432,
    700 : #f11f2b,
    800 : #ef1924,
    900 : #ec0f17,
    A100 : #ffffff,
    A200 : #ffe5e5,
    A400 : #ffb2b4,
    A700 : #ff989b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
// Smileright Magenta
$md-smilerightmagenta: (
    50 : #fce4ec,
    100 : #f8bcd0,
    200 : #f48fb1,
    300 : #f06292,
    400 : #ec407a,
    500 : #e91e63,
    600 : #e61a5b,
    700 : #e31651,
    800 : #df1247,
    900 : #d90a35,
    A100 : #ffffff,
    A200 : #ffd0d8,
    A400 : #ff9dae,
    A700 : #ff8498,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$smileright-primary: mat-palette($md-smilerightblue, 500, 800);
$smileright-accent:  mat-palette($md-smilerightred, 500, 900, A100);
$smileright-warn:    mat-palette($md-smilerightmagenta);

$smileright-theme: mat-light-theme($smileright-primary, $smileright-accent, $smileright-warn);

@include angular-material-theme($smileright-theme);

.primary-light-bg {
  background-color: mat-color($smileright-primary, lighter);
}

.primary-bg, .inlined-label {
  background-color: mat-color($smileright-primary);
}

.primary {
  color: mat-color($smileright-primary) !important;
}
.accent {
  color: mat-color($smileright-accent) !important;
}
.warn {
  color: mat-color($smileright-warn) !important; 
}