<app-bluebg></app-bluebg>


<div class="container ">

  <section class="introduction clearfix tooths">



    <div class="text pull-right half-width">
      <div class="col-left">
        <h1 class="white-header">Infection Control</h1>
        <p class="white larger">Feeling a little Corono-phobic? Fear not. <br>We're used to dealing with scared people (and
          with bugs).
        </p>
      </div>
    </div>
    <div class="pull-left half-width">
      <img class="hero" src="/assets/img/corono.png" data-aos-once="true" data-aos="fade-left"
        data-aos-delay="100" />
    </div>
  </section>
  <section class="features">
    <mat-card>
      <div class="row clearfix text-center reduced" id="intro">
        <!-- <h2 class="accent larger background"><span>About Smile Right</span></h2> -->
        <p class="lead larger">Dentists have always been serious about keeping you safe from cross infection <br>(other people's
          bugs). </p>

          <hr>


        <p>For years it has been a legal requirement that we regularly attend lectures on sterilisation (and we do), and
          there are <a href="https://www.ada.org.au/Dental-Professionals/Publications/Infection-Control/Guidelines-for-Infection-Control/1ADA_GuidelinesforInfectionControl_3.aspx" target="_blank" title="ADA Standards">specific standards</a> we have to adhere to.</p>
        <p>To be honest, we've got harder germs to deal with than COVID 19 (the coronavirus). It's a lot easier to kill than
          most of the bad bugs we tackle on your behalf every day. </p>
      </div>


      <img class="cor-footer" src="/assets/img/corono-footer.jpg" />
    </mat-card>

    <div class="row clearfix  add-mt add-mb text-center">
      <h3>These are just some of the things we do to ensure your safety:</h3>
    </div>


    <div class="row clearfix flex mb">
      <div class="thrd-width ">
        <div class="col-left text-center">
          <img class="perc" src="/assets/img/autoclave.png" data-aos-once="true" data-aos="fade-right" data-aos-delay="20" />
        </div>
      </div>
      <div class="two-thrd-width col-right" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">
        <h2 class="primary">Sterilisation </h2>
        <p>All metal instruments that are put in your mouth will have been processed in an autoclave. An autoclave uses
          superheated steam (under pressure) to kill <strong>ALL</strong> bugs. It even kills the very nasty, very hard to kill prions
          that cause Mad Cow Disease (have you forgotten about Mad Cow Disease? We haven't, and we've been protecting
          you from it for years). </p>
        <p>Every autoclave cycle is individually checked multiple ways by our team to make sure it worked properly, and
          all autoclaves are regularly double-checked and tested by external examiners to ensure they work properly.

        </p>
      </div>
    </div>


    <div class="row clearfix flex mb">

      <div class="two-thrd-width col-left" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">

        <img class="perc mobShow" src="/assets/img/instruments.png" data-aos-once="true" data-aos="fade-right" data-aos-delay="20" />

        <h2 class="primary">Pre-Sterilised Bits and Pieces</h2>
        <p>Many things we buy and use come as single-use items in sealed plastic wrappers that have been pre-sterilised
          by the manufacturer.</p>
      </div>
      <div class="thrd-width ">
        <div class="col-right text-center">
          <img class="perc mobHide" src="/assets/img/instruments.png" data-aos-once="true" data-aos="fade-right" data-aos-delay="20" />
        </div>
      </div>
    </div>


    <div class="row clearfix flex mb">
      <div class="thrd-width ">
        <div class="col-left text-center">
          <img class="perc" src="/assets/img/clean-surfaces.png" data-aos-once="true" data-aos="fade-right" data-aos-delay="20" />
        </div>
      </div>
      <div class="two-thrd-width col-right" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">
       <h2 class="primary">Surface Disinfection</h2>
        <p>It's hard to put a chair, or a bench, in an autoclave. For that reason, all surfaces the patient, and the team, come in contact with during treatment are either covered by single-use plastic, or wiped down with disinfectant (after every patient appointment).</p>
      </div>
    </div>

    <div class="row clearfix flex mb">

      <div class="two-thrd-width col-left" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">
        <img class="perc mobShow" src="/assets/img/gloves.png" data-aos-once="true" data-aos="fade-right" data-aos-delay="20" />
        <h2 class="primary">Protecting You From Us (and vice versa)</h2>
        <p>When was the last time your doctor touched you without gloves? Hmmm... When was the last time your dentist touched you without gloves? Yeah, that's right. It never happens. 
        </p>
        <p>To be fair to our medical colleagues, they're often touching parts of your body that are low risk for bad bugs. We dentists, however, figure it's easier just to have one rule, which is to wear gloves, masks, and protective eyewear for all patients at all times. And we make you wear glasses too (it's not just a fashion statement). </p>
      </div>
      <div class="thrd-width ">
        <div class="col-right text-center">
          <img class="perc mobHide" src="/assets/img/gloves.png" data-aos-once="true" data-aos="fade-right" data-aos-delay="20" />
        </div>
      </div>
    </div>


    <div class="row clearfix flex mb">
      <div class="thrd-width ">
        <div class="col-left text-center">
          <img class="perc" src="/assets/img/precautions.png" data-aos-once="true" data-aos="fade-right" data-aos-delay="20" />
        </div>
      </div>
      <div class="two-thrd-width col-right" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">
       <h2 class="primary">Other Sensible Current (and Future?) Precautions </h2>
        <p>You can be very confident we are well informed about the latest requirements (remember bugs are our thing) and will be following the recommendations of the relevant authorities.</p> 
        <p>Handshakes are out. Elbow bumps were in (for about a week), now they're out too. Hand washing (even when you visit us) is in and probably here to stay. Good thing too. We love hand washing. Anyway, whatever is considered the current best way of protecting you will be what we do; we always have.</p>
      </div>
    </div>
    </section>

</div>

<section class="grey">

<div class="container">


    <div class="row clearfix flex mb">
      <mat-card class="clearfix text-center mat-elevation-z3" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">
    
       <h2 class="primary mt mb">How You Can Help Us</h2>
        <p>If you think you've been exposed to COVID 19, then self isolate as the authorities recommend. While it's smart (and expected) that you go to your doctor when you're sick, dentists prefer you NOT to attend if you're feeling unwell (unless of course it's an emergency, or you are in pain). If, however, you are feeling well, and haven't been exposed, then there is no need to delay or defer your treatment. You should attend your dental appointments as normal. </p>
       
        <hr>
       
        <p class="mb lead larger">Dental practices are cleaner and more "bug free" than just about any public area. So please don't be scared about coming in to see us. <strong>Visiting the dentist may be the safest place to be.</strong> </p>
       
        <hr>
       
        <p class="lead larger"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank" title="WHO advisory">View the WHO guide on dealing with the Coronavirus</a></p>
      
        <img class="cor-footer" src="/assets/img/corono-footer-2.jpg" data-aos-once="true" data-aos="fade-right" data-aos-delay="20" />
      </mat-card>
    </div>
</div>
</section>