<div class="pb">
    <div class="back-vec">
    </div>
    <section class="topper">
        <div class="txt">
            <p>{{MERCHANT_NAME}}</p>
        </div>
        <div class="btnbox">
            <button mat-stroked-button class="contactus-btn">
              Contact Us
          </button>
        </div>
    </section>
    <section class="top">
        <div class="top-left">
            <div class="top-txtbox" data-aos="fade-right" data-aos-delay="300" data-aos-once="true">
                <h2>Everything you need to know about your Oral health</h2>
                <p>When you don’t keep up with a good dental routine, you put your mouth and body at risk of disease and infection.</p>
            </div>
        </div>
        <div class="top-right">
            <div class="top-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                <div class="timg">
                    <img class="w-img" src="/assets/img/campaign/Tips/Electronics.png">
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="card-row top-df">
            <div class="top-c">
                <div class="card" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                    <div class="card-body" data-label="Suffering from bad breath? We can help!">
                        <img class="w-img" src="/assets/img/campaign/Tips/shut_0.png">
                    </div>
                    <div class="card-txt">
                        <div class="card-des">Dental Tips</div>
                        <button mat-stroked-button>Read More ></button>
                    </div>
                </div>
            </div>
            <div class="top-c">
                <div class="de-card" data-aos="fade-left" data-aos-delay="300" data-aos-once="true">
                    <div class="de-ctxt">
                        <h4>Read The Latest Offers </h4>
                        <p>Ever wanted to try invisalign but pushed it back due to the costs? With our bite-sized payment plans, you will be smiling in no time! Need teeth whitening instead? No problem, see what other offers we have available to help you achieve your dream smile.</p>
                        <button mat-stroked-button>See Offers ></button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3>Dental Pages</h3>
        <div class="card-row">
            <div class="card" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
                <div class="card-body" data-label="&nbsp;&nbsp;Dental Tips for&nbsp;&nbsp; a Good Oral Hygiene! ">
                    <img class="w-img" src="/assets/img/campaign/Tips/shut_1.png">
                </div>
                <div class="card-txt">
                    <div class="card-des">Dental Tips</div>
                    <button mat-stroked-button>Read More ></button>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                <div class="card-body" data-label="&nbsp;&nbsp;Dental Tips for&nbsp;&nbsp; a Good Oral Hygiene! ">
                    <img class="w-img" src="/assets/img/campaign/Tips/shut_2.png">
                </div>
                <div class="card-txt">
                    <div class="card-des">Gingivitis</div>
                    <button mat-stroked-button>Read More ></button>
                </div>
            </div>
            <div class="card ds-none" data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
                <div class="card-body" data-label="Suffering from bad breath? We can help!">
                    <img class="w-img" src="/assets/img/campaign/Tips/shut_3.png">
                </div>
                <div class="card-txt">
                    <div class="card-des">Bad Breath</div>
                    <button mat-stroked-button>Read More ></button>
                </div>
            </div>
        </div>
        <div class="card-row nds-none">
            <div class="card" data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
                <div class="card-body" data-label="Suffering from bad breath? We can help!">
                    <img class="w-img" src="/assets/img/campaign/Tips/shut_3.png">
                </div>
                <div class="card-txt">
                    <div class="card-des">Bad Breath</div>
                    <button mat-stroked-button>Read More ></button>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="600" data-aos-once="true">
                <div class="card-body" data-label="Suffering from bad breath? We can help!">
                    <img class="w-img" src="/assets/img/campaign/Tips/shut_4.png">
                </div>
                <div class="card-txt">
                    <div class="card-des">Going Green</div>
                    <button mat-stroked-button>Read More ></button>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div class="card ds-none" data-aos="fade-up" data-aos-delay="600" data-aos-once="true">
                <div class="card-body" data-label="Suffering from bad breath? We can help!">
                    <img class="w-img" src="/assets/img/campaign/Tips/shut_4.png">
                </div>
                <div class="card-txt">
                    <div class="card-des">Going Green</div>
                    <button mat-stroked-button>Read More ></button>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="700" data-aos-once="true">
                <div class="card-body" data-label="Suffering from bad breath? We can help!">
                    <img class="w-img" src="/assets/img/campaign/Tips/shut_5.png">
                </div>
                <div class="card-txt">
                    <div class="card-des">Informed Consent</div>
                    <button mat-stroked-button>Read More ></button>
                </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-delay="800" data-aos-once="true">
                <div class="card-body" data-label="Suffering from bad breath? We can help!">
                    <img class="w-img" src="/assets/img/campaign/Tips/shut_6.png">
                </div>
                <div class="card-txt">
                    <div class="card-des">COVID Do’s & Don’ts</div>
                    <button mat-stroked-button>Read More ></button>
                </div>
            </div>
        </div>
    </section>
    <section class="mapp">
        <div class="map-main">
            <div class="mmap-box">
                <app-map-view></app-map-view>
            </div>
            <div class="mtxt-box">
                <div>
                    <div class="practice">
                        <h3>Practice Hours</h3>
                        <p>Monday:</p>
                        <p>Tuesday:</p>
                        <p>Wednesday:</p>
                        <p>Thursday:</p>
                        <p>Friday:</p>
                        <p>Saturday:</p>
                        <p>Sunday:</p>
                    </div>
                    <div class="contact">
                        <h3>Contact Us</h3>
                        <p>{{practiceAddress}}</p>
                        <p>{{practiceNumber}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="foot-main">
            <p>This email was sent to {{RECIPIENT_EMAIL}}. This email is confidential and intended only for the stated addressee(s). If you receive this in error, please inform us immediately and delete it and all copies from your system. Any unauthorized disclosure, use, or dissemination, either whole or partial is prohibited. This email and all its attachments are believed to be free of any virus, or defect, but it is the responsibility of the recipient to ensure this. {{MERCHANT_TRADING_NAME}} does not accept responsibility or liability for any loss or damage arising in any way from its receipt or use or for any errors or omissions in its contents that may arise as a result of its transmission.</p>
            <div class="fimg-box">
                <img class="fimg" src="/assets/img/campaign/Tips/bolo.png">
            </div>
        </div>
    </section>
    <div class="pb-b"></div>
</div>

