<section class="contactus">
    <div class="contactus-main flex">
        <div class="text">
            <p>{{practiceName}}</p>
        </div>
        <div class="button-box">
            <button mat-stroked-button class="contactus-btn">
                Contact Us
            </button>
        </div>
    </div>
</section>
<section class="head-banner">
    <div class="banner-imgbox" data-aos="fade-up" data-aos-delay="00" data-aos-once="false">
        <img class="img" src="/assets/img/campaign/kor/Asset_1.png">
        <div class="banner-logobox">
            <img class="img" src="/assets/img/campaign/kor/logo.png">
        </div>
    </div>
</section>

<section class="top">
    <div class="container text-center align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
        <p class="top-p">KöR is widely recognized as the world’s most effective whitening system – with no need for lights or lasers, you can get exceptional whitening results every time. Whether you have a special occasion or just simply want a whiter smile, KöR has a solution for you!</p>
        <button mat-raised-button class="btn">
            Treatment from just <strong>$$</strong>/day* <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</section>

<section class="tooth flex">
    <div class="half-width tooth-textbox">
        <div class="tooth-text" data-aos="fade-right" data-aos-delay="400" data-aos-once="false"> 
            <h3>Whiter teeth can have a big impact on everyday life. A whiter smile can help you be more confident and outgoing and overall happier as you might be more likely to smile more.</h3>
            <p>If you feel like your teeth are stained, yellowed, or not white enough in other ways, you might consider whitening them.</p>
        </div>
    </div>
    <div class="half-width tooth-imgbox"  data-aos="fade-left" data-aos-delay="400" data-aos-once="false"></div>
</section>

<section class="intro">
    <div class="intro-main container flex">
        <div class="half-width intro-imgbox" data-aos="fade-right" data-aos-delay="400" data-aos-once="false">
            <img class="intro-img" src="/assets/img/campaign/kor/Asset_3.png">
        </div>
        <div class="half-width intro-txtbox">
            <div class="intro-contentbox">
                <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                    <h4>Exceptional Results</h4>
                    <p>KöR are leading professionals in the whitening industry, leaving you with exceptional results.</p>
                </div>
                <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                    <h4>No Lights, No Lasers</h4>
                    <p>KöR’s Dual-Activated, Tri-Barrel™ Hydremide® Peroxide formulation means no lights or lasers.</p>
                </div>
                <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                    <h4>Chairside or Take-Home</h4>
                    <p>Chairside treatments or take-home kits are available depending on your case and your needs.</p>
                </div>
            </div> 
        </div>
    </div>
</section>

<section class="payment">
    <div class="payment-imgbox" data-aos="fade-right" data-aos-delay="400" data-aos-once="false"><img class="img" src="/assets/img/campaign/kor/Asset_5.png"></div>
    <div class="payment-main container" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
        <h3>We offer payment plans!</h3>
        <p>Thanks to Smile Right, the Opalescence treatment could be improving your smile for much less than you might expect...</p>
        <div class="payment-title justify-content-center text-center"><h2>Treatment from just {{price}}/day*</h2></div>
        <button mat-stroked-button class="payment-btn">
            Find out more <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</section>

<section class="biomin">
    <div class="container biomin-main flex">
        <div class="half-width biomin-txtbox">
            <div class="biomin-content">
                <h4  data-aos="fade-right" data-aos-delay="400" data-aos-once="false" >Want a take home kit instead? We have a few options to get you started.</h4>
                <p  data-aos="fade-right" data-aos-delay="400" data-aos-once="false"><strong><i>KöR-Day™</i></strong> at-home whitening system is for those patients who prefer not to wear, or are unable to wear KöR-Seal Whitening Trays during sleep.</p>
                <p  data-aos="fade-right" data-aos-delay="400" data-aos-once="false"><strong><i>KöR-Night™</i></strong> whitening is always more effective than daytime whitening. This option provides a great whitening result for the typical patient at the lowest cost.</p>
            </div>
        </div>
        <div class="half-width biomin-imgbox" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
            <img class="biomin-img" src="/assets/img/campaign/kor/Asset_4.png">
        </div>
    </div>
</section>

<section class="search">
    <div class="container search-main" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
        <h3>Is KöR Whitening the solution you’ve been searching for?</h3>
        <p>Come see us at {{practiceName}} for a consultation to begin your smile journey, and with our bite-sized payment plans you don’t have to worry about any out of pocket costs. You can Smile Now, and Pay Later!</p>
        <p>If you have any questions relating to this treatment or associated products, please call {{practiceName}} <br>on {{practiceNumber}}</p>
        <button mat-stroked-button class="btn">
            Book an Appointment <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</section>

<section class="map">
    <div class="map-main flex">
        <div class="map-mapbox">
            <div class="map-map">
                <app-map-view></app-map-view>
                <label class="map-name">Practice name</label>
            </div>
        </div>
        <div class="map-text">
            <div>
                <div class="practice">
                    <h3>Practice Hours</h3>
                    <p>Monday:</p>
                    <p>Tuesday:</p>
                    <p>Wednesday:</p>
                    <p>Thursday:</p>
                    <p>Friday:</p>
                    <p>Saturday:</p>
                    <p>Sunday:</p>
                </div>
                <div class="contact">
                    <h3>Contact Us</h3>
                    <p>{{practiceAddress}}</p>
                    <p>{{practiceNumber}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="social">
    <div class="container social-main">
        <h3>Follow Our Socials!</h3>
        <div class="social-iconbox">
            <a href="" class="icon"><i class='fab'>&#xf16d;</i></a>
            <a href="" class="icon"><i class='fab'>&#xf081;</i></a>
            <a href="" class="icon"><i class='fab'>&#xf082;</i></a>
            <a href="" class="icon"><i class='fab'>&#xf0d4;</i></a>
        </div>
    </div>
</section>

<section class="bottom">
    <div class="container bottom-main">
        <p>* Disclaimer: Please note: pricing is indicative only, and price may vary between patients. We can only establish the final cost of treatment once the consultation has occurred.</p>
        <div class="bottom-imgbox">
            <img src="/assets/img/campaign/kor/bolo.png" class="blogo" alt="logo">
        </div>
    </div>
</section>
