<div *ngIf="merchant">


    <app-bluebg></app-bluebg>
    <div class="container main animate">


      <section class="introduction clearfix">
        <div class="text pull-right half-width">
          <div class="col-left">

            <h1 class="white-header">Put your sleep apnea to bed</h1>
            <p class="white rm-m">Enjoy a more effective and comfortable sleep apnea solution with Oventus O<sub>2</sub>Vent<sup>&trade;</sup></p>

          </div>
        </div>
        <div class="pull-left half-width">
          <img class="hero" src="/assets/img/sleep-bed-comfort.png" />
        </div>
      </section>
      <section class="features">
        <mat-card class="add-mb">
          <div class="row clearfix reduced">

            <p class="lead larger text-center add-mb">An estimated one million Australians suffer from sleep apnea,
              which
              can lead to high blood pressure, stroke, irregular heartbeats, heart attacks and diabetes.
            </p>

            <div class="row clearfix">
              <div class="half-width">
                <div class="col-left">
                  <div class="row clearfix">
                    <h2 class="accent rm-mt"> Are you at risk for Sleep Disorder Breathing?</h2>
                    <ul class="question ml">
                      <li>Have you been told that you snore?</li>
                      <li>Do you often wake up tired or unrefreshed?</li>
                      <li>Do you suffer from excessive daytime sleepiness?</li>
                      <li>Do you wake up choking or gasping for air?</li>
                      <li>Do you have trouble with concentration/memory?</li>
                    </ul>
                    <div class="arrow_box mt">
                      <p class="rm-m">If you <strong>answered 'yes'</strong> to any of these questions, you could be at
                        risk of sleep-disordered breathing!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="half-width">
                <div class="col-right">
                  <mat-card class="mat-elevation-z7 questionBg">
                    <mat-icon>help_outline</mat-icon>
                    <h3 class="primary rm-mt">What's sleep apnea?</h3>
                    <p class="larger rm-mt">Sleep apnoea occurs when the air passage in the throat becomes blocked
                      during
                      sleep and causes people to stop breathing. In severe cases, some people can suffer hundreds of
                      these
                      events per night.</p>
                    <p class="larger rm-mt">Traditional treatments can be problematic for patients, with issues such as
                      chronic jaw pain, teeth loosening, teeth wear, ongoing adjustment or nasal obstruction causing
                      many
                      to stop wearing their device.</p>
                    <p class="lead">Now, it's time for a better solution.</p>
                  </mat-card>
                </div>
              </div>

            </div>

          </div>
        </mat-card>

        <div class="extra-margin">
          <div class="row clearfix reduced mb">
            <h3 class="primary larger background text-center"><span class="grey-bg">Solving sleep problems with 3D
                printing</span></h3>

            <div class="row clearfix">
              <div class="qtr-width">
                <div class="column">
                  <img src="/assets/img/third-party/csiro.png" class="brand-logo mb" />
                </div>
              </div>
              <div class="half-width">
                <div class="column text-center">
                  <p class="lead rm-mt">Partnering with the CSIRO, Oventus can now print a mouthpiece which prevents
                    dangerous pauses in breath during sleep.</p>
                  <p>A 3D scan of your mouth allows for a custom oral appliance to be specially 3D printed to suit you
                    in
                    the most comfortable and effective way possible.</p>




                </div>
              </div>
              <div class="qtr-width">
                <div class="column">
                  <img src="/assets/img/third-party/oventus.png" class="brand-logo" />
                </div>
              </div>
            </div>

            <div class="row clearfix add-mt">
              <div class="two-thrd-width centered rel">
                <div class="plyr__video-embed" id="player">
                  <iframe src="https://player.vimeo.com/video/312048585?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
                    width="640" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>

            </div>

          </div>
        </div>
      </section>

    </div>
    <section class="primary-bg">
      <div class="container text-center">
        <div class="row clearfix white">
          <h2 class="rm-mt">Relief is here for millions of sufferers</h2>
          <p class="lead">The O<sub>2</sub>Vent<sup>&trade;</sup> Device is now available to patients in Australia
            through
            Oventus clinics, as a more effective and comfortable alternative to current products on the market.</p>
          <p>In clinical trials, the O<sub>2</sub>Vent<sup>&trade;</sup> Device showed a 50 to 90 per cent reduction in
            Apnoea Hypopnea Index (or API, which indicates the severity of sleep apnoea) in 75 per cent of patients. It
            was
            found to be more effective than other oral appliances and has an effect on oxygen levels comparable to
            continuous positive airway pressure technology.</p>
          <p>Following these successful trial results, Oventus plans to take the device to the rest of the world,
            targeting the growing number of moderate to severe sufferers of sleep apnoea.</p>

          <p class="small"><em>CSIRO Australia</em></p>
        </div>
      </div>
    </section>

    <section class="productShowcase">
      <div class="container">
        <div class="row clearfix reduced">
          <h2 class="primary text-center">Meet O<sub>2</sub>Vent Optima<sup>&trade;</sup></h2>
        </div>
        <div class="row clearfix">
          <div class="thrd-width">
            <div class="col-left">
              <img src="/assets/img/third-party/DSC2951-1-1024x682.jpg" class="full-width" />
            </div>
          </div>
          <div class="two-thrd-width">
            <div class="col-right">
              <p>A customised 3D printed nylon oral device, not only advances the jaw forward to open your airway, it
                incorporates the proprietary Oventus Airway Technology to improve the effectiveness of oral appliance
                therapy.
              </p>
              <div class="row clearfix featurettes">
                <div class="thrd-width">

                  <h3 class="accent rm-mt">
                    <mat-icon>
                      check_circle_outline</mat-icon> Light weight
                  </h3>
                </div>
                <div class="thrd-width">

                  <h3 class="accent rm-mt">
                    <mat-icon>
                      check_circle_outline</mat-icon> Comfortable
                  </h3>
                </div>
                <div class="thrd-width">

                  <h3 class="accent rm-mt">
                    <mat-icon>
                      check_circle_outline</mat-icon> Discreet
                  </h3>
                </div>
                <div class="thrd-width">

                  <h3 class="accent rm-mt">
                    <mat-icon>
                      check_circle_outline</mat-icon> Less jaw advancement
                  </h3>
                </div>
                <div class="thrd-width">

                  <h3 class="accent rm-mt">
                    <mat-icon>
                      check_circle_outline</mat-icon> Offers flexibility for travel
                  </h3>
                </div>
                <div class="thrd-width">

                  <h3 class="accent rm-mt">
                    <mat-icon>
                      check_circle_outline</mat-icon> Durable
                  </h3>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

  <section class="grey" >
    <div class="container">
      <div class="">
        <div class="row clearfix reduced mb">
          <h2 class="primary larger background text-center"><span class="">Is a O<sub>2</sub>Vent Optima<sup>&trade;</sup>
              device the solution for you?</span></h2>
          <p class="lead text-center mb">You can find out for sure by getting your treatment journey started today. To
            register your interest or learn more about our sleep apnoea fill out the form below, or check out the cost
            calculator to see how affordable a better night's sleep really is...</p>
          <div class="row clearfix flex">
            <div class="two-thrd-width centered">
              <mat-card class="rm-bp">
                <h1 class="accent rm-m">Easy repayment options!</h1>
                <p class="lead">{{merchant['TradingAs']}} can help with a better nights sleep for less than a cup of
                  coffee a day with one of our helpful payment options...</p>
                <div class="row clearfix dealArea rel flex">
                  <div class="half-width rel full-height img">
                    <img src="/assets/img/sleep-bed-footer.png" class="promoPos" />
                  </div>
                  <div class="half-width text-left rel">
                    <div class="col-right">
                      <h3 class="white rm-m">from as little as</h3>
                      <h1 class="offerValue">{{minAmount | customCurrency}}</h1>
                      <h3 class="white rm-mt">per day</h3>

                      <button mat-raised-button color="accent" (click)="applyEvent()" class="btn-large">Apply now !
                        <mat-icon>chevron_right</mat-icon></button>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
