<div class="pb">
    <app-bluebg></app-bluebg>
    <section class="topper">
        <div class="txt">
            <p>{{MERCHANT_NAME}}</p>
        </div>
        <div class="btnbox">
            <button mat-stroked-button class="contactus-btn">
              Contact Us
            </button>
        </div>
    </section>
    <section class="top">
        <div class="top-left" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
            <div class="top-txtbox">
                <h2>Suffering from bad breath? We can help!</h2>
                <p>Don’t let your bad breath do the talking. Request an appointment today and put and end to the odour.</p>
            </div>
        </div>
        <div class="top-right" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
            <div class="top-imgbox">
                <div class="timg">
                    <img class="img" src="/assets/img/campaign/Tips/bad+breath-03.png">
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="main-top">
            <div class="mt-main">
                <h3>What can cause bad breath?</h3>
                <p>Bad breath, also called halitosis, can be embarrassing for those suffering and family, friends, and colleagues on the receiving end. No one likes bad breath, so it’s no wonder that store shelves are overflowing with gum, mints, and mouthwash - temporary fixes designed to disguise the problem rather than address the cause. Certain foods, health conditions, and habits are among the main causes of bad breath.</p>
                <div class="mm-box mt-60" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                    <div class="mm-imgbox">
                        <img class="w-img rimg" src="/assets/img/campaign/Tips/onions+and+garlic-05.png">
                    </div>
                    <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong> Food:</strong> Eating certain foods such as garlic, onions, and spices affect your breath. Cleaning your mouth or using products like mints or gum should fix the odour. </p>
                        </div>
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Tobacco Products:</strong> Smoking itself causes an unpleasant odour. Smokers and oral tobacco users are at a higher risk of gum disease, which is another cause of bad breath.</p>
                        </div>
                    </div>
                    <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img limg" src="/assets/img/campaign/Tips/Cigarettes-05.png">
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img rimg" src="/assets/img/campaign/Tips/medication-02.png">
                    </div>
                    <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Medications:</strong>  Some medications can contribute to dry mouth due to a release of chemicals that get carried out on your breath. Ask your doctor about any side effects you find concerning.</p>
                        </div>
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Dry Mouth:</strong> Saliva helps cleanse your mouth and remove particles that cause an odour. A dry mouth naturally occurs during sleep, which is where the term “morning breath” comes from. So, it’s best to brush your teeth first thing in the morning.</p>
                        </div>
                    </div>
                    <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img limg" src="/assets/img/campaign/Tips/drymouth.png">
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img rimg" src="/assets/img/campaign/Tips/teeth+four+problems2.png">
                    </div>
                    <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Infections:</strong> Infections in the mouth such as tooth decay, gum disease, and mouth sores all cause bad breath. But also, Infections in the nose, sinuses, or throat are common culprits.</p>
                        </div>
                    </div>
                </div>
                <div class="mm-box maxt" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                    <p><strong>Other Causes:</strong> Tonsil stones often form in the back of your throat,   they contain odour producing bacteria.  They are mostly benign but if they are uncomfortable or consistently cause bad breath, you might want to discuss with your doctor. </p>
                </div>
                <hr>
                <div class="mm-box maxt">
                    <div data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                        <h4>Regular check-ups help to prevent diseases in the mouth and might save your tooth from an extraction or root canal in the long run.</h4>
                        <h4>Don’t delay any longer {{recipient_first_name}}, click to book in now!</h4>
                        <button mat-stroked-button>
                            REQUEST AN APPOINTMENT <mat-icon>chevron_right</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main-und">
            <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Do your gums bleed when you brush and floss? You probably have gingivitis - and it can get a lot worse.</h3>
            <div class="videobox1" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                <video class="video" controls data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                    <source src="https://vimeo.com/417634559/c084f66f75" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true">One thing is clear - your body and your mouth are not separate. You may think bad oral hygiene just means bad teeth and gums, but did you know that inflammation (gingivitis) eat away at the gums and bone structure that hold teeth in place?</p>
            <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true">This is known as periodontitis; a severe gum disease that causes problems in the rest of your body. </p>
            <button mat-stroked-button data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                FIND OUT MORE <mat-icon>chevron_right</mat-icon>
            </button>
            <div class="backteria1 backteria" >
                <img class="w-img" src="/assets/img/campaign/Tips/Bacteria+singles-02.png">
            </div>
            <div class="backteria2 backteria">
                <img class="w-img" src="/assets/img/campaign/Tips/Bacteria+singles-03.png">
            </div>
            <div class="backteria3 backteria">
                <img class="w-img" src="/assets/img/campaign/Tips/Bacteria+singles-04.png">
            </div>
        </div>
        <div class="main-bot">
            <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">What you can do at home to fix bad breath.</h3>
            <div class="mm-box">
                <div class="mm-txt" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                    <div>
                        <p><strong>Brush and Floss After You Eat:</strong> Use a fluoride toothpaste with antibacterial properties, especially after meals. Proper flossing removes plaque and food particles between your teeth, helping to control your bad breath.</p>
                        <p><strong>Clean Your Tongue:</strong> Your tongue is covered in bacteria, so brushing it helps to reduce odour. If you suffer from a dry mouth or smoke, you may benefit from using a tongue scraper to remove bacteria overgrowth.</p>
                    </div>
                </div>
                <div class="mm-imgbox" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                    <img class="w-img limg" src="/assets/img/campaign/Tips/Max-Brushing-Teeth1.png">
                </div>
            </div>
            <div class="mm-box">
                <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                    <img class="w-img rimg" src="/assets/img/campaign/Tips/water-mints+gum-03-1.png">
                </div>
                <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                    <div>
                        <p><strong>Avoid a Dry Mouth:</strong> Keep your mouth moist by drinking plenty of water. Minimise coffee, soft drinks, alcohol, and tobacco. Try chewing sugarless gum or candy to stimulate saliva. You can also speak with your doctor about medication.</p>
                        <p><strong>Change Your Diet:</strong> Avoid foods that cause bad breath such as onion, garlic, and lots of spices. Where possible, restrain from eating high sugar foods.</p>
                    </div>
                </div>
            </div>
            <div class="mm-box">
                <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                    <div>
                        <p><strong>New Toothbrush:</strong> It’s important to change your toothbrush regularly, either when it starts to get frayed, or at least every three to four months - whichever comes first. Make sure your store your toothbrush in a clean, dry place to minimise bacteria growth.</p>
                        <p><strong>Regular Dental Check-Ups:</strong> You should have a dental check-up every 6 months for examination on oral health, and a professional clean.</p>
                    </div>
                </div>
                <div class="mm-imgbox tird" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                    <img class="w-img limg" src="/assets/img/campaign/Tips/toothbrush-02.png">
                </div>
            </div>
        </div>
        <div class="main-und">
            <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">If we haven’t seen you in a while, click here to request an appointment.</h3>
            <p></p>
            <button mat-stroked-button data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                REQUEST AN APPOINTMENT <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </section>
    <section class="mapp">
        <div class="map-main">
            <div class="mmap-box">
                <app-map-view></app-map-view>
            </div>
            <div class="mtxt-box">
                <div>
                    <div class="practice">
                        <h3>Practice Hours</h3>
                        <p>Monday:</p>
                        <p>Tuesday:</p>
                        <p>Wednesday:</p>
                        <p>Thursday:</p>
                        <p>Friday:</p>
                        <p>Saturday:</p>
                        <p>Sunday:</p>
                    </div>
                    <div class="contact">
                        <h3>Contact Us</h3>
                        <p>{{practiceAddress}}</p>
                        <p>{{practiceNumber}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="foot-main">
            <p>This email was sent to {{RECIPIENT_EMAIL}}. This email is confidential and intended only for the stated addressee(s). If you receive this in error, please inform us immediately and delete it and all copies from your system. Any unauthorized disclosure, use, or dissemination, either whole or partial is prohibited. This email and all its attachments are believed to be free of any virus, or defect, but it is the responsibility of the recipient to ensure this. {{MERCHANT_TRADING_NAME}} does not accept responsibility or liability for any loss or damage arising in any way from its receipt or use or for any errors or omissions in its contents that may arise as a result of its transmission.</p>
            <div class="fimg-box">
                <img class="fimg" src="/assets/img/campaign/Tips/bolo.png">
            </div>
        </div>
    </section>
</div>
