<section class="contactus">
  <div class="contactus-main flex">
      <div class="text">
          <p>{{practiceName}}</p>
      </div>
      <div class="button-box">
          <button mat-stroked-button class="contactus-btn">
              Contact Us
          </button>
      </div>
  </div>
</section>
<section class="head-banner">
  <div class="banner-imgbox" data-aos="fade-up" data-aos-delay="00" data-aos-once="false">
      <img class="img" src="/assets/img/campaign/angelalign/Asset_1.png">
      <div class="banner-logobox">
          <img class="img" src="/assets/img/campaign/angelalign/logo.png">
      </div>
  </div>
</section>

<section class="top">
  <div class="container text-center align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
      <p class="top-p">Angelalign is an innovative company that specialises in the production and development of invisible orthodontic treatment and clear aligners. Each individual aligner is custom made for each patient to provide the best treatment outcome possible and create beautiful smiles!</p>
      <button mat-raised-button class="btn">
          Treatment from just <strong>$$</strong>/day* <mat-icon>chevron_right</mat-icon>
      </button>
  </div>
</section>

<section class="tooth flex">
  <div class="half-width tooth-textbox">
      <div class="tooth-text" data-aos="fade-right" data-aos-delay="400" data-aos-once="false"> 
          <h3>Using the latest lateral layering technology and micro-granular texture, Angelalign produce a series of clear, stain resistant aligners.</h3>
          <p>Unlike other brands, Angelalign achieve better retention and axial force control through their professional design so you can experience your dream smile in no time!</p>
      </div>
  </div>
  <div class="half-width tooth-imgbox"  data-aos="fade-left" data-aos-delay="400" data-aos-once="false"></div>
</section>

<section class="intro">
  <div class="intro-main flex">
      <div class="half-width intro-imgbox" data-aos="fade-right" data-aos-delay="400" data-aos-once="false">
          <img class="intro-img" src="/assets/img/campaign/angelalign/Asset_3.png">
      </div>
      <div class="half-width text-box intro-txtbox">
          <div class="intro-contentbox">
              <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                  <h4>Comfortable Edges</h4>
                  <p>Angelalign uses MasterControl® technology to increase tear resistance and helps to smooth edges, for a seamless experience.</p>
              </div>
              <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                  <h4>Virtually Invisible</h4>
                  <p>The multilayer interface combined with difuse  reflection frosten particles keeps your aligners virutally invisible.</p>
              </div>
              <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                  <h4>Efficient</h4>
                  <p>The high elastic performance provides gentle and slow-release force for faster treatment.</p>
              </div>
          </div> 
      </div>
  </div>
</section>

<section class="payment">
  <div class="payment-imgbox" data-aos="fade-right" data-aos-delay="400" data-aos-once="false"><img class="img" src="/assets/img/campaign/angelalign/Asset5.png"></div>
  <div class="payment-main container" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
      <h3>We offer payment plans!</h3>
      <p>Thanks to Smile Right, the Angelalign treatment could be improving your smile for much less than you might expect...</p>
      <div class="payment-title justify-content-center text-center"><h2>Treatment from just {{price}}/day*</h2></div>
      <button mat-stroked-button class="payment-btn">
          Find out more <mat-icon>chevron_right</mat-icon>
      </button>
  </div>
</section>

<section class="biomin">
  <div class="biomin-main flex">
      <div class="half-width biomin-imgbox" data-aos="fade-left" data-aos-delay="400" data-aos-once="false"></div>
      <div class="half-width biomin-txtbox">
          <div class="biomin-content">
              <p  data-aos="fade-right" data-aos-delay="400" data-aos-once="false" >Your new smile begins with a consult where we will examine your teeth and take a digital impression to send to the Angelalign lab.</p>
              <p  data-aos="fade-right" data-aos-delay="400" data-aos-once="false">The aligner is then professionally designed and hand crafted, then sent back to us for a final review.</p>
              <p  data-aos="fade-right" data-aos-delay="400" data-aos-once="false">All that is left is to wear your aligner as recommended and watch your new smile transform before your eyes!</p>
          </div>
      </div>
  </div>
</section>

<section class="search">
  <div class="container search-main" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
      <h3>Is Angelalign the solution you’ve been searching for?</h3>
      <p>Come see us at {{practiceName}} for a consultation to begin your smile journey, and with our bite-sized payment plans you don’t have to worry about any out of pocket costs. You can Smile Now, and Pay Later!</p>
      <p>If you have any questions relating to this treatment or associated products, please call {{practiceName}} <br>on {{practiceNumber}}</p>
      <button mat-stroked-button class="btn">
          Book an Appointment <mat-icon>chevron_right</mat-icon>
      </button>
  </div>
</section>

<section class="map">
  <div class="map-main flex">
      <div class="map-mapbox">
          <div class="map-map">
              <app-map-view></app-map-view>
              <label class="map-name">Practice name</label>
          </div>
      </div>
      <div class="map-text">
          <div>
              <div class="practice">
                  <h3>Practice Hours</h3>
                  <p>Monday:</p>
                  <p>Tuesday:</p>
                  <p>Wednesday:</p>
                  <p>Thursday:</p>
                  <p>Friday:</p>
                  <p>Saturday:</p>
                  <p>Sunday:</p>
              </div>
              <div class="contact">
                  <h3>Contact Us</h3>
                  <p>{{practiceAddress}}</p>
                  <p>{{practiceNumber}}</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="social">
  <div class="container social-main">
      <h3>Follow Our Socials!</h3>
      <div class="social-iconbox">
          <a href="" class="icon"><i class='fab'>&#xf16d;</i></a>
          <a href="" class="icon"><i class='fab'>&#xf081;</i></a>
          <a href="" class="icon"><i class='fab'>&#xf082;</i></a>
          <a href="" class="icon"><i class='fab'>&#xf0d4;</i></a>
      </div>
  </div>
</section>

<section class="bottom">
  <div class="container bottom-main">
      <p>* Disclaimer: Please note: pricing is indicative only, and price may vary between patients. We can only establish the final cost of treatment once the consultation has occurred.</p>
      <div class="bottom-imgbox">
          <img src="/assets/img/campaign/angelalign/bolo.png" class="blogo" alt="logo">
      </div>
  </div>
</section>
