h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h1.white-header, .white {
	color: #fff;
}
h3.large {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}
p.lead {
    font-size: 1.3rem;
    line-height: 1.95rem;
    font-weight: 300;
}
p.lead.larger {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 300;
}

button.btn-large {
    font-size: 1.3rem;
    padding: 10px 28px;
}

p, ul, li {
    color: #525252;
}

/* a {
    color: #5f5f5f;
} */

hr.white {
    max-width: 500px;
    height: 2px;
    border-radius: 10px;
}


h1.background, h2.background {
  position: relative;
  z-index: 1;
}
h1.background:before, h2.background:before {
  border-top: 2px solid #eaeaea;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.background:before {
  border-top: 2px solid #e2e2e2;
}
h1.background span {
  background: #fff;
  padding: 0 15px;
}
h2.background span {
  background: #efefef;
  padding: 0 15px;
}

h3.background {
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
}
h3.background:before {
  border-top: 2px solid #dedede;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h3.background span {
  background: #efefef;
  padding: 0 15px;
}

@media (max-width: 768px) {
  h1 {
  	font-size: 2.5rem;
  }
}