<div class="premm">
    <div class="head">
        <h3>You’ve chosen the Starter package!</h3>
    </div>
    <div class="body">
        <p>Our starter package has everything your practice needs to get started on your journey towards better patient communication. With starter, your practice can say goodbye to paper and hello to digital - get access to unlimited users and start increasing your treatment case acceptance with patient finance. This includes:</p>
        <div class="body-main">
            <div class="body-l">
                <div class="imgbox">
                    <img class="img" src="/assets/img/campaign/price/Asset_11.png">
                </div>
            </div>
            <div class="body-r">
                <div class="txtbox">
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Digital Treatment Planning</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Digital Treatment Communication</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Digital Informed Consent</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Patient Reminders</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Patient Finance</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Procedure Catalogue</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Plus More...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-bot">
            <button mat-stroked-button class="pre" routerLink="/plans">Complete Sign Up <mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>
</div>

