<section class="contactus">
  <div class="contactus-main flex">
      <div class="text">
          <p>{{practiceName}}</p>
      </div>
      <div class="button-box">
          <button mat-stroked-button class="contactus-btn">
              Contact Us
          </button>
      </div>
  </div>
</section>
<section class="head-banner">
  <div class="banner-imgbox" data-aos="fade-up" data-aos-delay="00" data-aos-once="false">
      <img class="img" src="/assets/img/campaign/simpli5/Asset_1.png">
      <div class="banner-logobox">
          <img class="img" src="/assets/img/campaign/simpli5/logo.png">
      </div>
  </div>
</section>

<section class="top">
  <div class="container text-center align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
      <p class="top-p">Simpli5™ is a clear aligner system that uses up to five aligners for minor corrections, and is perfect for those who don’t need full treatments offered by other brands. The Simpli5™ aligner technology will have you smiling in a matter of weeks!*</p>
      <button mat-raised-button class="btn">
          Treatment from just <strong>$$</strong>/day* <mat-icon>chevron_right</mat-icon>
      </button>
  </div>
</section>

<section class="tooth flex">
  <div class="half-width tooth-textbox">
      <div class="tooth-text" data-aos="fade-right" data-aos-delay="400" data-aos-once="false"> 
          <h3>Looking to for a quick, painless, and effective solution to achieving your dream smile? Simpli5™ is the system for you!</h3>
          <p>Each set of aligners is customised to fit your mouth using cutting-edge technology, giving you the smile you've always wanted with minimum hassle.</p>
      </div>
  </div>
  <div class="half-width tooth-imgbox"  data-aos="fade-left" data-aos-delay="400" data-aos-once="false"></div>
</section>

<section class="intro">
  <div class="intro-main flex">
      <div class="half-width intro-imgbox" data-aos="fade-right" data-aos-delay="400" data-aos-once="false">
          <img class="intro-img" src="/assets/img/campaign/simpli5/Asset_3.png">
      </div>
      <div class="half-width text-box intro-txtbox">
          <div class="intro-contentbox">
              <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                  <h4>Comfortable</h4>
                  <p>Most patients claim they can't even feel the Simpli5 aligners once they are wearing in!</p>
              </div>
              <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                  <h4>Undetectable</h4>
                  <p>Simpli5 aligners are made from clear plastics and are virtually invisible; even up close and personal.</p>
              </div>
              <div class="intro-content" data-aos="fade-left" data-aos-delay="400" data-aos-once="false">
                  <h4>Removable</h4>
                  <p>Easy to remove when needed, making it easier to drink, eat and brush your teeth.</p>
              </div>
          </div> 
      </div>
  </div>
</section>

<section class="payment">
  <div class="payment-imgbox" data-aos="fade-right" data-aos-delay="400" data-aos-once="false"><img class="img" src="/assets/img/campaign/simpli5/Asset5.png"></div>
  <div class="payment-main container" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
      <h3>We offer payment plans!</h3>
      <p>Thanks to Smile Right, the Simpli5™ Aligner treatment could be improving your smile for much less than you might expect...</p>
      <div class="payment-title justify-content-center text-center"><h2>Treatment from just {{price}}/day*</h2></div>
      <button mat-stroked-button class="payment-btn">
          Find out more <mat-icon>chevron_right</mat-icon>
      </button>
  </div>
</section>

<section class="biomin">
  <div class="biomin-main flex">
      <div class="half-width biomin-imgbox" data-aos="fade-left" data-aos-delay="400" data-aos-once="false"></div>
      <div class="half-width biomin-txtbox">
          <div class="biomin-content">
              <p  data-aos="fade-right" data-aos-delay="400" data-aos-once="false">Your new smile begins with a consult where we will examine your teeth and take a mold that gets sent to the Simpli5™ lab to be made to perfection.</p>
              <p  data-aos="fade-right" data-aos-delay="400" data-aos-once="false">Each tray is then professionally designed to gradually correct alignment and transform your smile.</p>
              <p  data-aos="fade-right" data-aos-delay="400" data-aos-once="false">All that is left is to wear your aligners as recommended and see your new smile transform!</p>
          </div>
      </div>
  </div>
</section>

<section class="search">
  <div class="container search-main" data-aos="fade-up" data-aos-delay="400" data-aos-once="false">
      <h3>Is Simpli5™ the solution you’ve been searching for?</h3>
      <p>Come see us at {{practiceName}} for a consultation to begin your smile journey, and with our bite-sized payment plans you don’t have to worry about any out of pocket costs. You can Smile Now, and Pay Later!</p>
      <p>If you have any questions relating to this treatment or associated products, please call {{practiceName}} <br>on {{practiceNumber}}</p>
      <button mat-stroked-button class="btn">
          Book an Appointment <mat-icon>chevron_right</mat-icon>
      </button>
  </div>
</section>

<section class="map">
  <div class="map-main flex">
      <div class="map-mapbox">
          <div class="map-map">
              <app-map-view></app-map-view>
              <label class="map-name">Practice name</label>
          </div>
      </div>
      <div class="map-text">
          <div>
              <div class="practice">
                  <h3>Practice Hours</h3>
                  <p>Monday:</p>
                  <p>Tuesday:</p>
                  <p>Wednesday:</p>
                  <p>Thursday:</p>
                  <p>Friday:</p>
                  <p>Saturday:</p>
                  <p>Sunday:</p>
              </div>
              <div class="contact">
                  <h3>Contact Us</h3>
                  <p>{{practiceAddress}}</p>
                  <p>{{practiceNumber}}</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="social">
  <div class="container social-main">
      <h3>Follow Our Socials!</h3>
      <div class="social-iconbox">
          <a href="" class="icon"><i class='fab'>&#xf16d;</i></a>
          <a href="" class="icon"><i class='fab'>&#xf081;</i></a>
          <a href="" class="icon"><i class='fab'>&#xf082;</i></a>
          <a href="" class="icon"><i class='fab'>&#xf0d4;</i></a>
      </div>
  </div>
</section>

<section class="bottom">
  <div class="container bottom-main">
      <p>* Disclaimer: Please note: pricing is indicative only, and price may vary between patients. We can only establish the final cost of treatment once the consultation has occurred.</p>
      <div class="bottom-imgbox">
          <img src="/assets/img/campaign/simpli5/bolo.png" class="blogo" alt="logo">
      </div>
  </div>
</section>
