.mat-dialog-actions {
    justify-content: center;
}
mat-dialog-actions.button-row {
    margin-bottom: -50px;
}
.cdia {
    /* max-width: 350px; */
    margin: 0 auto;
}

.text-input textarea {
    min-height: 200px;
}
@media (max-width: 768px) {
    .cdia button:last-child {
        margin-top: 20px;
    }
}

/* FROM application.css */
::ng-deep .app-confirm-dialog-message-panel .mb {
  margin-bottom: 10px !important;
}

::ng-deep .app-confirm-dialog-message-panel .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0.75em;
}

@media (min-width: 768px) {

  ::ng-deep .app-confirm-dialog-message-panel .mb {
    margin-bottom: 20px !important;
  }

  ::ng-deep .app-confirm-dialog-message-panel .add-mb {
    margin-bottom: 40px !important;
  }

  ::ng-deep .app-confirm-dialog-message-panel .mt {
    margin-top: 20px !important;
  }

  ::ng-deep .app-confirm-dialog-message-panel .add-mt {
    margin-top: 40px !important;
  }

  ::ng-deep .app-confirm-dialog-message-panel .row-content-col {
    width: calc(100% - 50px);
    float: right;
    padding: 0 0 0 20px;
  }
}


::ng-deep .app-confirm-dialog-message-panel .primary-gradient-img {
  background: -webkit-linear-gradient(135deg, #0dbad3 0%, #0092eb 100%), url(/assets/images/background.jpg);
  background: -moz-linear-gradient(135deg, #0dbad3 0%, #0092eb 100%), url(/assets/images/background.jpg);
  background: linear-gradient(135deg, #0dbad3 0%, #0092eb 100%), url(/assets/images/background.jpg);
}

::ng-deep .app-confirm-dialog-message-panel .rm-m {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .app-confirm-dialog-message-panel button.btn-close {
  width: auto !important;
  min-width: 16px !important;
  margin: 0;
  padding: 0;
  color: #999;
  z-index: 99999;
}

/*  dialog content padding override */
::ng-deep .app-confirm-dialog-message-panel .mat-dialog-content {

  margin: 0 -16px !important;
  padding: 0 16px !important;
}

::ng-deep .app-confirm-dialog-message-panel .mat-dialog-container {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

::ng-deep .app-confirm-dialog-message-panel .mat-dialog-content::-webkit-scrollbar,
::ng-deep .app-confirm-dialog-message-panel .indOvf::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

::ng-deep .app-confirm-dialog-message-panel .mat-dialog-content,
::ng-deep .app-confirm-dialog-message-panel .indOvf {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

/*initial textarea height*/

::ng-deep .app-confirm-dialog-message-panel textarea.mat-input-element {
  height: 18px;
}

::ng-deep .app-confirm-dialog-message-panel .mat-input-element {
  line-height: 1rem !important;
}

::ng-deep .app-confirm-dialog-message-panel .row.clearfix textarea.mat-input-element {
  line-height: 1.35rem !important;
  min-height: 100px;
}

::ng-deep .app-confirm-dialog-message-panel .ql-editor {
  resize: vertical;
  overflow-y: scroll !important;
  min-height: 300px;
}

/* Modals */

::ng-deep .app-confirm-dialog-message-panel p.noFurther {
  box-sizing: border-box;
  border: 1px solid #eee;
  font-size: 0.82rem;
  font-weight: 400;
  color: #fff;
  background: #ff6868;
  background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);
  background: linear-gradient(to bottom, #ff6868, #d0222a);
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 6px 6px;
  border-radius: 6px;
}

::ng-deep .app-confirm-dialog-message-panel .my-full-screen-dialog .mat-dialog-container {
  max-width: none;
  width: 100vw;
  height: 100vh;
}

::ng-deep .app-confirm-dialog-message-panel .noCard {
  transition: all 0.5s;
}

::ng-deep .app-confirm-dialog-message-panel .noCard mat-dialog-container,
::ng-deep .app-confirm-dialog-message-panel .noCard .mat-dialog-container {
  background: none !important;
  box-shadow: none;
}

::ng-deep .app-confirm-dialog-message-panel .ScrollNoCard mat-dialog-container,
::ng-deep .app-confirm-dialog-message-panel .ScrollNoCard .mat-dialog-container {
  box-shadow: none;
  margin: 0 !important;
  padding: 0 !important;
}

::ng-deep .app-confirm-dialog-message-panel .ScrollNoCard mat-dialog-container app-blob-view {
  display: block;

}

::ng-deep .app-confirm-dialog-message-panel .ScrollNoCard mat-dialog-container app-blob-view:after {
  display: block;
  content: "";
  clear: both;
}

::ng-deep .app-confirm-dialog-message-panel .ScrollNoCard mat-dialog-container app-blob-view button.mt {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

::ng-deep .app-confirm-dialog-message-panel .ScrollNoCard mat-dialog-container app-blob-view button.pull-right {
  margin: 10px 10px 10px 0;
}

::ng-deep .app-confirm-dialog-message-panel .ScrollNoCard mat-dialog-container app-blob-view #fileContainer {
  max-height: 65vh;
  overflow: scroll;
  overflow-x: hidden;
}

::ng-deep .app-confirm-dialog-message-panel .cdk-overlay-backdrop {
  position: fixed !important;
}

::ng-deep .app-confirm-dialog-message-panel mat-dialog-container app-customer-view-modal {
  display: block;
  padding: 0;
  margin: -45px -25px;
}

::ng-deep .app-confirm-dialog-message-panel mat-dialog-container .float-close {
  position: absolute;
  top: 17px;
  right: 15px;
  z-index: 10;
}

::ng-deep .app-confirm-dialog-message-panel .calculator mat-card-header.text-center.mat-card-header {
  text-align: center;
  flex-direction: column;
  margin: -24px -16px 30px;
  padding: 20px 24px 5px;
  color: #fff;
}

::ng-deep .app-confirm-dialog-message-panel .mat-dialog-container {
  overflow: visible !important;
}

::ng-deep .app-confirm-dialog-message-panel app-session-countdown-modal {
  max-width: 400px;
  display: block;
}


::ng-deep .app-confirm-dialog-message-panel h2 .subLabel {
  display: block;
  font-size: 0.9rem;
  opacity: 0.8;
  word-break: break-word;
}

::ng-deep .app-confirm-dialog-message-panel .inModal button.btn-close {
  float: right;
  color: #fff;
  display: flex;
  align-items: center;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img {
  position: relative;
  z-index: 1;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.inModal {
  margin: -24px -16px 20px;
  padding: 24px;
  color: #fff;
  position: relative;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img:before {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(22.5deg, rgba(67, 67, 67, 0.02) 0%, rgba(67, 67, 67, 0.02) 29%, rgba(47, 47, 47, 0.02) 29%, rgba(47, 47, 47, 0.02) 37%, rgba(23, 23, 23, 0.02) 37%, rgba(23, 23, 23, 0.02) 55%, rgba(182, 182, 182, 0.02) 55%, rgba(182, 182, 182, 0.02) 69%, rgba(27, 27, 27, 0.02) 69%, rgba(27, 27, 27, 0.02) 71%, rgba(250, 250, 250, 0.02) 71%, rgba(250, 250, 250, 0.02) 100%), linear-gradient(67.5deg, rgba(117, 117, 117, 0.02) 0%, rgba(117, 117, 117, 0.02) 14%, rgba(199, 199, 199, 0.02) 14%, rgba(199, 199, 199, 0.02) 40%, rgba(33, 33, 33, 0.02) 40%, rgba(33, 33, 33, 0.02) 48%, rgba(135, 135, 135, 0.02) 48%, rgba(135, 135, 135, 0.02) 60%, rgba(148, 148, 148, 0.02) 60%, rgba(148, 148, 148, 0.02) 95%, rgba(53, 53, 53, 0.02) 95%, rgba(53, 53, 53, 0.02) 100%), linear-gradient(135deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 6%, rgba(251, 251, 251, 0.02) 6%, rgba(251, 251, 251, 0.02) 18%, rgba(2, 2, 2, 0.02) 18%, rgba(2, 2, 2, 0.02) 27%, rgba(253, 253, 253, 0.02) 27%, rgba(253, 253, 253, 0.02) 49%, rgba(128, 128, 128, 0.02) 49%, rgba(128, 128, 128, 0.02) 76%, rgba(150, 150, 150, 0.02) 76%, rgba(150, 150, 150, 0.02) 100%), linear-gradient(90deg, #FFF, #FFF);
  z-index: 2;
  mix-blend-mode: multiply;
  height: 100%;
  border-radius: 4px 4px 0 0;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img,
::ng-deep .app-confirm-dialog-message-panel .primary-gradient-img.heading.row {
  border-radius: 4px 4px 0 0;
}


::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.inModal p,
::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.inModal h2 {
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.inModal h2 {
  margin-top: 10px;
  padding-top: 0;
  padding-left: 10px;
  width: 100%;
}

/* .card-header.primary-gradient-img.inModal .hasIcon h2 {
  padding-left: 50px;
} */

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.inModal .hasIcon mat-icon {
  font-size: 2rem;
  width: auto;
  height: auto;
}



::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.inModal label {
  color: rgba(255, 255, 255, 0.8);
}

::ng-deep .app-confirm-dialog-message-panel .card-header .colourOverlay {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  mix-blend-mode: color;
}

::ng-deep .app-confirm-dialog-message-panel .card-header .content {
  z-index: 2;
  position: relative;
  margin: -24px;
  padding: 24px;
}

@media only screen and (max-width: 600px) {
  ::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.inModal {
    margin: -24px -16px 20px;
    padding: 24px 16px;
  }
}

::ng-deep .app-confirm-dialog-message-panel .confirmModal button.btn-close {
  float: right;
  color: #fff;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.confirmModal {
  margin: -24px -16px 20px;
  padding: 24px;
  color: #fff;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.confirmModal p,
::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.confirmModal h2 {
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.confirmModal h2 {
  margin-top: 10px;
  padding-top: 0;
  padding-left: 42px;
  width: 100%;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.confirmModal .titleArea {
  max-width: 80%;
  float: left;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.inModal .titleArea {
  max-width: 80%;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.confirmModal label {
  color: rgba(255, 255, 255, 0.8);
}

::ng-deep .app-confirm-dialog-message-panel .animate.contain {
  overflow: hidden;
}

::ng-deep .app-confirm-dialog-message-panel .confirmModal mat-icon,
mat-icon.large-icon {
  font-size: 2rem;
  width: auto;
  height: auto;
}


::ng-deep .app-confirm-dialog-message-panel .primary-gradient-img.warning {
  background: -moz-linear-gradient(-45deg, rgba(208, 31, 118, 0.9) 0%, rgba(210, 0, 0, 0.9) 100%) !important;
  background: -webkit-linear-gradient(-45deg, rgba(208, 31, 118, 0.9) 0%, rgba(210, 0, 0, 0.9) 100%) !important;
  background: linear-gradient(135deg, rgba(208, 31, 118, 0.9) 0%, rgba(210, 0, 0, 0.9) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d01f76e6', endColorstr='#d05318e6', GradientType=1);
  background-size: cover;
  border-radius: 0 !important;
  border: none !important;
}


::ng-deep .app-confirm-dialog-message-panel .stacked button.btn-close {
  float: right;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 16px;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.stacked {
  margin: -16px -16px 20px;
  padding: 24px;
  color: #fff;
  position: relative;
  border-radius: 4px 4px 0 0;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.stacked p,
::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.stacked h2 {
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.stacked h2 {
  margin-top: 10px;
  padding-top: 0;
  text-transform: capitalize;
  width: 100%;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.stacked .titleArea {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.stacked label {
  color: rgba(255, 255, 255, 0.8);
}

::ng-deep .app-confirm-dialog-message-panel .animate.contain {
  overflow: hidden;
}

::ng-deep .app-confirm-dialog-message-panel .card-header.primary-gradient-img.stacked app-ep-document-view-image {
  display: flex;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

::ng-deep .app-confirm-dialog-message-panel mat-dialog-content.stacked-card-view {
  margin-top: -24px !important;
  padding-top: 24px !important;
  margin-bottom: 0;
  padding-bottom: 24px !important;
}

