<div class="pb">
    <app-bluebg></app-bluebg>
    <section class="topper">
        <div class="txt">
            <p>{{MERCHANT_NAME}}</p>
        </div>
        <div class="btnbox">
            <button mat-stroked-button class="contactus-btn">
              Contact Us
          </button>
        </div>
    </section>
    <section class="top">
        <div class="top-left" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
            <div class="top-txtbox">
                <h2>Oral health and the mouth-body connection</h2>
                <p>How your mouth acts as the gateway to your body. Understand how bacteria and infection affects your health.</p>
            </div>
        </div>
        <div class="top-right" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
            <div class="top-imgbox">
                <div class="timg">
                    <img class="img" src="/assets/img/campaign/Tips/bacteria-03.png">
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="main-top" >
            <div class="mt-main">
                <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Prevention is the best tool when it comes to oral health!</h3>
                <div class="uimgbox" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                    <img class="w-img" src="/assets/img/campaign/Tips/Anatomy+Body-02.png">
                </div>
                <div class="mm-box">
                    <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Cardiovascular (Heart) Disease:</strong> Clogged arteries and stroke could be linked to the inflammation and infections that oral bacteria can cause. Symptoms may be different for men and women, for example, men are more likely to have chest pain and women are more likely to have other signs and symptoms along with chest discomfort, such as shortness of breath, nausea and extreme fatigue.</p>
                            <p><strong>Endocarditis:</strong> This infection of the inner lining of your heart chambers or valves (endocardium) occurs when bacteria or other germs spread through your bloodstream and attach to certain areas in your heart.</p>
                        </div>
                    </div>
                    <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img limg" src="/assets/img/campaign/Tips/Heart.gif">
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img rimg" src="/assets/img/campaign/Tips/osteoprotisis.png">
                    </div>
                    <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Osteoporosis.</strong> This bone-weakening disease is linked with periodontal bone loss and tooth loss. There is a small risk of damage to the bones of the jaw with certain drugs that treat osteoporosis.</p>
                            <p>Osteoporosis (meaning porous bones) is a condition that causes bones to become thin, weak and fragile. As a result, even a minor bump or accident can cause a fracture. Fractures can result in chronic pain, disability, loss of independence and premature death.</p>
                        </div>
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Risk of Stroke:</strong>  When gums bleed and become inflamed, it leads to changes in how blood and oxygen flow to the brain. This can be linked to a higher rate of strokes caused by the hardening of large arteries in the brain and also with severe artery blockages.</p>
                            <p>A stroke occurs when the blood supply to part of your brain is interrupted or reduced, preventing brain tissue from getting oxygen and nutrients - brain cells begin to die in minutes.</p>
                        </div>
                    </div>
                    <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img limg" src="/assets/img/campaign/Tips/brain+stroke-02.png">
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img rimg" src="/assets/img/campaign/Tips/diabetes.png">
                    </div>
                    <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Diabetes:</strong>  Research shows that people who have gum disease have a harder time controlling their blood sugar levels (glucose) which can lead to diabetes. Regular periodontal care can improve diabetes control.</p>
                            <p>Glucose is vital to your health because it's an important source of energy for the cells that make up your muscles and tissues. It's also your brain's main source of fuel.</p>
                        </div>
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Pneumonia:</strong> Certain bacteria in your mouth can be pulled into your lungs, causing pneumonia and other respiratory diseases. Pneumonia is an infection that inflames the air sacs in one or both lungs.</p>
                            <p>The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. It is most serious for infants and young children, people older than age 65.</p>
                        </div>
                    </div>
                    <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img limg" src="/assets/img/campaign/Tips/pneumonia.gif">
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img rimg" src="/assets/img/campaign/Tips/pregnancy-04.png">
                    </div>
                    <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Pregnancy and Birth Complications:</strong> Periodontitis has been linked to an increased risk of preterm birth or low birth weight for the baby, as well as including the potential for the mother to lose teeth.</p>
                            <p>The hormonal changes during pregnancy, particularly the marked increases in estrogen and progesterone, plays a part for the increased risk of developing periodontitis.</p>
                        </div>
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Alzheimer’s Disease:</strong> A recent study suggests bacteria that cause gum disease are also associated with the development of Alzheimer’s disease and related dementias, especially vascular dementia. Bacteria and the inflammatory molecules travel from infections in the mouth through the bloodstream to the brain.</p>
                            <p>Having dementia makes it more likely that an individual will not be able to brush and floss effectively, which increases the likelihood of such infections and gum disease.</p>
                        </div>
                    </div>
                    <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img limg" src="/assets/img/campaign/Tips/Brain+Zap-05.png">
                    </div>
                </div>
                <div class="mm-box">
                    <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                        <img class="w-img rimg" src="/assets/img/campaign/Tips/obesuty.png">
                    </div>
                    <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                        <div>
                            <p><strong>Obesity:</strong> People with excess weight have double the incidence of periodontal disease, while people dealing with severe obesity have triple the occurrence.</p>
                            <p>It is thought to be linked with the increased chemical signals which fat cells produce, and overall causes an inflammation response in the body. It is also believed that the inflammation response decreases the blood flow to the gums, making them more vulnerable.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mm-box">
                    <div data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                        <h4>Regular check-ups help to prevent diseases in the mouth and might save your tooth from an extraction or root canal in the long run.</h4>
                        <h4>Don’t delay any longer {{recipient_first_name}}, click to book in now!</h4>
                        <button mat-stroked-button>
                            REQUEST AN APPOINTMENT <mat-icon>chevron_right</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main-und">
            <h3 data-aos="fade-right" data-aos-delay="400" data-aos-once="true">Do your gums bleed when you brush and floss? You probably have gingivitis - and it can get a lot worse.</h3>
            <p data-aos="fade-right" data-aos-delay="400" data-aos-once="true">One thing is clear - your body and your mouth are not separate. You may think bad oral hygiene just means bad teeth and gums, but did you know that inflammation (gingivitis) eat away at the gums and bone structure that hold teeth in place? This is known as periodontitis; a severe gum disease that causes problems in the rest of your body.</p>
            <div class="tooth">
                <div class="img-r" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                    <img class="w-img" src="/assets/img/campaign/Tips/Clean+Teeth.png">
                </div>
                <div class="img-l" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                    <img class="w-img" src="/assets/img/campaign/Tips/dirty+teeth-04.png">
                </div>
            </div>
            <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true">When you don’t clean your teeth properly each day, the bacteria grows and builds up on your teeth. Your body’s immune response to this bacteria causes inflammation in your gums, and the attachment of the gum to the root of a tooth is disrupted over time, and a periodontal pocket (gap) may form between the gum and root.</p>
        </div>
        <div class="main-bot">
            <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">What causes gingivitis and bad breath?</h3>
            <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Your mouth is the entry point to your respiratory and digestive tracts, and when bacteria enters it can cause disease. Our bodies natural defences mixed with good oral health care usually keep this bacteria under control. Without proper oral hygiene, such as daily brushing and flossing, the bacteria grows, causing infections, tooth decay, gum disease, and more.</p>
            <div class="videobox" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                <video class="video" controls>
                    <source src="https://vimeo.com/417634356/731710cebe" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Some symptoms to look out for include bad breath, gums that bleed when you brush your teeth or floss, red, tender, or swollen gums, a buildup of plaque or tartar on your teeth, and more. If you’re worried about bad breath and other oral issues, click on the button below.</p>
            <button mat-stroked-button routerLink="/badbreath" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                FIND OUT MORE <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </section>
    <section class="mapp">
        <div class="map-main">
            <div class="mmap-box">
                <app-map-view></app-map-view>
            </div>
            <div class="mtxt-box">
                <div>
                    <div class="practice">
                        <h3>Practice Hours</h3>
                        <p>Monday:</p>
                        <p>Tuesday:</p>
                        <p>Wednesday:</p>
                        <p>Thursday:</p>
                        <p>Friday:</p>
                        <p>Saturday:</p>
                        <p>Sunday:</p>
                    </div>
                    <div class="contact">
                        <h3>Contact Us</h3>
                        <p>{{practiceAddress}}</p>
                        <p>{{practiceNumber}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="foot-main">
            <p>This email was sent to {{RECIPIENT_EMAIL}}. This email is confidential and intended only for the stated addressee(s). If you receive this in error, please inform us immediately and delete it and all copies from your system. Any unauthorized disclosure, use, or dissemination, either whole or partial is prohibited. This email and all its attachments are believed to be free of any virus, or defect, but it is the responsibility of the recipient to ensure this. {{MERCHANT_TRADING_NAME}} does not accept responsibility or liability for any loss or damage arising in any way from its receipt or use or for any errors or omissions in its contents that may arise as a result of its transmission.</p>
            <div class="fimg-box">
                <img class="fimg" src="/assets/img/campaign/Tips/bolo.png">
            </div>
        </div>
    </section>
</div>
