<div class="premm">
    <div class="head">
        <h3>You’ve chosen the Premium package!</h3>
    </div>
    <div class="body">
        <p>Our highest package will help you and your practice reach the stars with unlimited access to all features for 3 or  more practitioners. With premium, you will see first hand and experience the full benefits better patient communication has on treatment case acceptance. This includes:</p>
        <div class="body-main">
            <div class="body-l">
                <div class="imgbox">
                    <img class="img" src="/assets/img/campaign/price/Asset_9.png">
                </div>
            </div>
            <div class="body-r">
                <div class="txtbox">
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Patient Appointments</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Patient Health History</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Patient Portal</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Marketing Campaigns (email/SMS/social)</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Smile Right Training Academy</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Unlimited Practitioners</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Plus More...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-bot">
            <button mat-stroked-button class="pre" routerLink="/plans">Complete Sign Up <mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>
</div>

