<div class="pb">
    <app-bluebg></app-bluebg>
    <section class="topper">
        <div class="txt">
            <p>{{MERCHANT_NAME}}</p>
        </div>
        <div class="btnbox">
            <button mat-stroked-button class="contactus-btn">
              Contact Us
          </button>
        </div>
    </section>
    <section class="top">
        <div class="top-left" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
            <div class="top-txtbox">
                <h2>When was your last visit?</h2>
                <p>Love the feeling of a spring clean? It's time to remove your unwanted bacteria with a dental check-up!</p>
            </div>
        </div>
        <div class="top-right" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
            <div class="top-imgbox">
                <div class="timg">
                    <img class="img" src="/assets/img/campaign/Tips/Family+Cleaning+no+bg+2-02.png">
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="main-top">
            <div class="mt-main">
                <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Regular check-ups help to prevent diseases in the mouth and might save your tooth from an extraction or root canal in the long run.</h3>
                <hr>
                <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Don’t delay any longer {{recipient_first_name}}, click to book in now!</h3>
                <button mat-stroked-button data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                    REQUEST AN APPOINTMENT <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="main-bot">
            <div class="mm-box">
                <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                    <div>
                        <h3>Why do you need good oral hygiene?</h3>
                        <p>You may think your teeth are in good shape, but beneath the surface, it can be a different story. Declining oral health can lead to bacteria in the mouth, which then multiplies and combines with sugars from foods to create harmful acids.</p>
                    </div>
                </div>
                <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                    <img class="mm-img limg" src="/assets/img/campaign/Tips/teeth+four+problems1.png">
                </div>
            </div>
            <div class="mm-box">
                <div class="mm-imgbox" data-aos="fade-right" data-aos-delay="600" data-aos-once="true">
                    <img class="mm-img rimg" src="/assets/img/campaign/Tips/teeth+four+problems2.png">
                </div>
                <div class="mm-txt" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                    <p>Ultimately, these attack the teeth causing cavities, tooth decay, gum disease, and infections. Take plaque, for example, you may think of plaque as something that only occurs as a result of poor oral hygiene, but the reality is everyone gets plaque - it’s a natural process that cannot be stopped.</p>
                </div>
            </div>
            <div class="mm-box">
                <div class="mm-txt" data-aos="fade-right" data-aos-delay="400" data-aos-once="true">
                    <p>So what is plaque? Well, it’s a film of bacteria that develops on your teeth, causing you to have that ‘fuzzy’ feeling if teeth are not brushed. Plaque forms when sugars and starches are left on teeth, but it can also develop under the gum line, which is why your regular check-ups are needed to get rid of plaque build-up, especially in hard-to-reach areas.</p>
                </div>
                <div class="mm-imgbox" data-aos="fade-left" data-aos-delay="600" data-aos-once="true">
                    <img class="mm-img limg" src="/assets/img/campaign/Tips/teeth+four+problems3.png">
                </div>
            </div>
            <hr>
            <div class="mm-box">
                <div class=" b-box">
                    <h3 data-aos="fade-up" data-aos-delay="400" data-aos-once="true">Want some more hygiene tips? Click on the button below!</h3>
                    <button mat-stroked-button routerLink="/tips" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                        FIND OUT MORE <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="mapp">
        <div class="map-main">
            <div class="mmap-box">
                <app-map-view></app-map-view>
            </div>
            <div class="mtxt-box">
                <div>
                    <div class="practice">
                        <h3>Practice Hours</h3>
                        <p>Monday:</p>
                        <p>Tuesday:</p>
                        <p>Wednesday:</p>
                        <p>Thursday:</p>
                        <p>Friday:</p>
                        <p>Saturday:</p>
                        <p>Sunday:</p>
                    </div>
                    <div class="contact">
                        <h3>Contact Us</h3>
                        <p>{{practiceAddress}}</p>
                        <p>{{practiceNumber}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="foot-main">
            <p>This email was sent to {{RECIPIENT_EMAIL}}. This email is confidential and intended only for the stated addressee(s). If you receive this in error, please inform us immediately and delete it and all copies from your system. Any unauthorized disclosure, use, or dissemination, either whole or partial is prohibited. This email and all its attachments are believed to be free of any virus, or defect, but it is the responsibility of the recipient to ensure this. {{MERCHANT_TRADING_NAME}} does not accept responsibility or liability for any loss or damage arising in any way from its receipt or use or for any errors or omissions in its contents that may arise as a result of its transmission.</p>
            <div class="fimg-box">
                <img class="fimg" src="/assets/img/campaign/Tips/bolo.png">
            </div>
        </div>
    </section>
    <div class="pb-b"></div>
</div>
