<div class="prodCard-header">
  <h2 mat-dialog-title>How to apply for a payment option</h2>
  <button mat-button mat-dialog-close class="closeDialogue">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>

  <h6 class="modalHeading primary">Waiting to see your Dentist?</h6>

  <p>While we'd love to tell you how much you'll need for your next dental treatment, the reality is you need to see
    your Dentist and have them present you with a proposed 'treatment plan' outlining the cost involved.
  </p>
  <p>Once you've seen your Dentist, they'll send you an invitation for treatment via email, which will include
    personalised payment options to help with the affordability of your next treatment.
  </p>
  <p>Chosen the payment option that best suits your needs, and you'll be guided through the convenient, automated
    application process (which only takes a few moments to complete) - you will get real-time feedback on your
    application and once approved you're all set to proceed!
  </p>
  <h6 class="modalHeading primary">Already visited your Dentist?</h6>

  <p>Great! If you haven't already received an invitation for treatment from your Dentist via email, simply get in
    touch with them and request one. They'll send you an email with details of your dental procedure, and the options
    apply for a payment plan, or personaly loan will be presented.
  </p>
  <h6 class="modalHeading primary">Questions?</h6>

  <p>We are here to help. Feel free to chat with our team online anytime or call us on 1300 793 983 during office
    hours.
  </p>
</mat-dialog-content>
