<app-bluebg></app-bluebg>


<div class="container ">

  <section class="introduction clearfix tooths">



    <div class="text pull-right half-width">
      <div class="col-left">
        <h1 class="white-header">Corona-Do's and Dont's</h1>
        <p class="white larger">Feeling a little sick (with fear) at the moment?
        </p>
      </div>
    </div>
    <div class="pull-left half-width">
      <img class="hero" src="/assets/img/cov-precautions.png" data-aos-once="true" data-aos="fade-left" data-aos-delay="100" />
    </div>
  </section>
  <section class="features">
    <mat-card>
      <div class="row clearfix text-center reduced" id="intro">

        <p class="lead larger">Feeling a little sick (with fear) at the moment? COVID-19 anxiety is currently more
          widespread than the actual virus (and unfortunately not treatable with toilet paper). So what to do?</p>

        <hr>

        <p>You may not be aware of it, but every dental team member is an expert in NOT spreading disease. Every moment
          of every working day, we are mindful of what's dirty, and what's not, and we never confuse the two. The
          concept is called cross-contamination, and the lessons ingrained in us can help you, and your family, in the
          uncertain times ahead.</p>
        <p>So what are the facts, and what are the practical steps people can take to reduce their risk of contracting
          or accidentally spreading, COVID-19?</p>


      </div>


      <img class="cor-footer" src="/assets/img/corono-footer.jpg" />
    </mat-card>



    <mat-card class="warning mat-elevation-z3">

      <mat-icon class="fas fa-heartbeat block"></mat-icon>

      <h2 class="warning">
        What are the Symptoms?
      </h2>

      <p class="lead">
        Patients may have: fever (88%), dry cough (68%), fatigue (38%), shortness of breath (19%). A patient may also
        complain of chills, headaches, sore throat, nausea or diarrhoea. Less than 5% of cases so far involve a blocked
        nose, so you're cold could actually just be a cold. Symptoms are usually mild and begin gradually. 
      </p>
      <p class="lead">
        It is possible to be infected and not develop any symptoms. 80% of people recover without needing special treatment.
      </p>
      <p class="lead">
        If you suspect you are infected ring your doctor first (don't just turn up in their waiting room sick).
      </p>
      <p class="lead bold">
        If you have difficulty breathing, seek medical attention without delay.
      </p>
    </mat-card>




    <div class="row clearfix flex mb">
      <div class="thrd-width ">
        <div class="col-left text-center">
          <img class="perc" src="/assets/img/corono-spread.png" data-aos-once="true" data-aos="fade-right"
            data-aos-delay="20" />
        </div>
      </div>
      <div class="two-thrd-width col-right" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">
        <h2 class="primary">How is it Spread?</h2>
        <p>Coronaviruses are spread when infected individuals cough, sneeze or even exhale. If you are within 1 metre of
          an infected person, you may inhale the virus, and become directly infected yourself. Being in a confined
          public space (restroom or elevator) may increase this risk. More commonly, transmission occurs when the virus
          lands on objects and surfaces around an infected person. Other people then catch COVID-19 by touching these
          objects and surfaces, then touching their eyes, nose or mouth. </p>
        <p>Preliminary studies suggest COVID-19 can live on these objects and surfaces from several hours to several
          days.

        </p>
      </div>
    </div>


    <div class="row clearfix flex mb">

      <div class="two-thrd-width col-left" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">

        <img class="perc mobShow" src="/assets/img/dentist-gloves.png" data-aos-once="true" data-aos="fade-right"
          data-aos-delay="20" />

        <h2 class="primary">How do I Avoid Catching COVID-19?</h2>
        <p>You need to start thinking like a dental team member. What surfaces are "clean" (meaning no chance of
          COVID-19 contamination) and what surfaces are "dirty" (meaning they could be contaminated).
        </p>
        <p>If you and your family are NOT infected, then your home is "clean" (whether it's clean "clean" is a different
          issue). All public places you should consider "dirty", which means think before you touch something. What
          you're thinking is "how likely is this to be contaminated with COVID-19". Remember, unless an infected person
          coughs or sneezed close to you, the most likely way you'll catch COVID-19 is by touching a contaminated
          surface AND THEN touching your eyes, nose or mouth. So, if it's necessary to touch something "dirty" (and I
          would suggest anything lots of other people may have touched is your greatest risk), be very mindful NOT to
          touch your eyes, nose or mouth until you've had a chance to wash your hands. Remember, however, anything you
          touch AFTER you have touched a potentially contaminated surface, like your phone, then becomes "dirty". After
          you wash your hands, your phone is still dirty.
        </p>
        <p>The best way to train yourself to be mindful of cross-contamination is to imagine a "dirty" surface or object
          is covered in ink. Everything you touch between when you get the ink on your hands (potential COVID-19
          contamination) and when you wash your hands, will also be contaminated (by imaginary ink or real COVID-19
          viruses). The better you get at playing this game, the lower your risk of getting COVID-19.
        </p>
      </div>
      <div class="thrd-width ">
        <div class="col-right text-center">
          <img class="perc mobHide" src="/assets/img/dentist-gloves.png" data-aos-once="true" data-aos="fade-right"
            data-aos-delay="20" />
        </div>
      </div>
    </div>


    <div class="row clearfix flex mb">
      <div class="thrd-width ">
        <div class="col-left text-center">
          <img class="perc" src="/assets/img/no-shake.png" data-aos-once="true" data-aos="fade-right"
            data-aos-delay="20" />
        </div>
      </div>
      <div class="two-thrd-width col-right" data-aos-once="true" data-aos="fade-left" data-aos-delay="80">
        <h2 class="primary">How do I Avoid Spreading COVID-19?</h2>
        <p>Don't go out to public places if you feel sick (especially if your symptoms could be COVID-19). If you need
          to cough or sneeze, do so into your elbow, not your hand. Avoid touching things in public if you're sick.
          Avoid shaking hands regardless of whether you're sick or well. Be VERY CONSCIOUS of contact with elderly
          relatives. Remember, you can be infected with minimal symptoms. The elderly, particularly those with lung
          conditions, are at highest risk. When you walk in the door to visit an elderly relative remember YOU HAVE INK
          ALL OVER YOUR HANDS. Wash your hands immediately on entering. Your mother/grandmother can live without a kiss
          until all of this blows over, or a vaccine is developed.
        </p>
        <p>
          If you are sick and must go out, wear a mask. If you're sick at home with non-infected family members, a mask
          is also recommended. Masks are not recommended for healthy members of the general public.
        </p>
      </div>
    </div>


  </section>

</div>

<section class="grey">

  <div class="container">


    <div class="row clearfix flex mb">
      <mat-card class="clearfix text-center mat-elevation-z3" data-aos-once="true" data-aos="fade-left"
        data-aos-delay="80">

        <h2 class="primary mt mb">What's the Big Picture? </h2>
        <p>Much of the advice here comes from government sources (links below). The rest is just applying everyday dentist cross-infection principles to the current situation. This is an evolving challenge, and advice will change; however, cross-infection principles will not change and applying them is something everyone should do.
        </p>
        <p>This virus will eventually touch everyone in the world. What the authorities are trying to do with travel bans, social distancing and cancelling large (and probably soon not so large) gatherings of people, is slow the spread of the disease. They're calling this <strong>"flattening the curve"</strong>, and it's being done because the health system CAN cope with everyone getting sick in a year, but it CAN'T cope with everyone getting sick in a month.
        </p>
        <p>We all rely on each other. Most jobs are necessary; otherwise, they wouldn't exist, so we all have to keep working to provide the services we all require. At the moment, it seems prudent to encourage the elderly to stay at home. Be mindful though of cross-infection principles when you turn up with groceries for your parents/grandparents. Those of us who have to work need to do so AS SMARTLY as possible. If you can work from home, you probably should, and limit your contact with others. If you still need to be in the outside world helping people (like everyone in the local grocery store and your friendly dental team) be careful what you touch and strict with social distancing where possible. </p>
          <p>At the moment it's still OK to visit the dentist, and you can be confident it's probably the safest public place you can be. Even if we go into some sort of lockdown, essential and emergency dental services will still be available. You can count on us to be there to help if you need us.</p>
        
        <p>We're all in this together.</p>
          <hr>

        <p class="lead larger"><a
            href="https://www.health.nsw.gov.au/Infectious/alerts/Pages/coronavirus-faqs.aspx#2-1" target="_blank"
            title="COVID-19 - Frequently asked questions">NSW Health - COVID-19 Frequently asked questions<mat-icon class="fas fa-external-link-alt"></mat-icon></a></p>


            <p class="lead larger"><a
                href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses" target="_blank"
                title="Q&A on coronaviruses (COVID-19)">WHO Q&amp;A on coronaviruses (COVID-19)<mat-icon class="fas fa-external-link-alt"></mat-icon></a></p>

              

                <p class="lead larger"><a
                    href="http://www.cidrap.umn.edu/news-perspective/2020/03/study-covid-19-may-spread-several-different-ways" target="_blank"
                    title="Study: COVID-19 may spread in several different ways">Study: COVID-19 may spread in several different ways<mat-icon class="fas fa-external-link-alt"></mat-icon></a></p>



        <img class="cor-footer" src="/assets/img/corono-footer-2.jpg" data-aos-once="true" data-aos="fade-up"
          data-aos-delay="20" />
      </mat-card>
    </div>
  </div>
</section>
