<div>
    <app-bluebg></app-bluebg>
    <section class="top container">
        <div class="top-leftbox">
            <div class="top-txt" data-aos="fade-right" data-aos-delay="500" data-aos-once="true">
                <h1>Lets take your practice to the stars!</h1>
                <p>Everyone plays a role in a successful practice - whether you’re a friendly face who greets patients or the one creating beautiful smiles, each role is important.</p>
            </div>
        </div>
        <div class="top-rightbox" data-aos="fade-left" data-aos-delay="500" data-aos-once="true">
            <div class="imgbox">
                <img class="img" src="/assets/img/campaign/Assets/Asset_1.png">
            </div>
        </div>
    </section>
    <section class="main container">
        <div class="title" data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
            <p>We have made getting started simple by defining each role and how it interacts with the portal. Select the role which best describes you.</p>
        </div>
        <div class="dentist flex">
            <div class="half-width flex txt-box">
                <div class="txt" data-aos="fade-right" data-aos-delay="500" data-aos-once="true">
                    <h2>Dental Practitioner</h2>
                    <p>As a dental practitioner you interact with patients the most and provide them with their treatment plans after a consultation.</p>
                    <button mat-stroked-button class="btn" routerLink="/dental">
                        Getting Started - Dentist <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="half-width img-box-right" data-aos="fade-left" data-aos-delay="500" data-aos-once="true">
                <div class="main-imgbox"><img class="img" src="/assets/img/campaign/Assets/Asset_2.png"></div>
            </div>
        </div>
        <div class="manager flex">
            <div class="half-width img-box-left" data-aos="fade-right" data-aos-delay="500" data-aos-once="true">
                <div class="main-imgbox"><img class="img" src="/assets/img/campaign/Assets/Asset_3.png"></div>
            </div>
            <div class="half-width flex txt-box" data-aos="fade-left" data-aos-delay="500" data-aos-once="true">
                <div class="txt text-right">
                    <h2>Practice Manager</h2>
                    <p>The practice manager helps to ensure the practice is running smoothly behind the scenes for both patients and team members.</p>
                    <button mat-stroked-button class="btn" routerLink="/manage">
                        Getting Started - Manager <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="recept flex">
            <div class="half-width flex txt-box" data-aos="fade-right" data-aos-delay="500" data-aos-once="true">
                <div class="txt">
                    <h2>Receptionist / Treatment Coordinator</h2>
                    <p>You are the first and last face patients will see, and who they will discuss things with such as payments, appointments, general enquires, and more.</p>
                    <button mat-stroked-button class="btn" routerLink="/cood">
                        Getting Started - Reception <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="half-width img-box-right" data-aos="fade-left" data-aos-delay="500" data-aos-once="true">
                <div class="main-imgbox"><img class="img" src="/assets/img/campaign/Assets/Asset_4.png"></div>
            </div>
        </div>
        <div class="maket flex">
            <div class="half-width img-box-left" data-aos="fade-right" data-aos-delay="500" data-aos-once="true">
                <div class="main-imgbox"><img class="img" src="/assets/img/campaign/Assets/Asset_5.png"></div>
            </div>
            <div class="half-width flex txt-box" data-aos="fade-left" data-aos-delay="500" data-aos-once="true">
                <div class="txt text-right">
                    <h2>Marketing Coordinator</h2>
                    <p>You focus on maximising branding and digital marketing. From newsletters, new product emails, social media post to website presence for the practice.</p>
                    <button mat-stroked-button class="btn" routerLink="/maket">
                        Getting Started - Marketing <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
