<!-- banner -->
<section class="heading-banner bg-dark"></section>

<!-- intro -->
<section class="mid-cta bg-dark">
  <div class="container">
    <div class="intro-container">
      <p *ngIf="patient" class="text-white text-align-left">
        Hi {{ patient.firstName }},
      </p>
      <h2 class="intro text-white text-center font-weight-normal">
        BE CONFIDENT WITH A
      </h2>
      <h2 class="intro text-white text-center">
        <strong>BRIGHTER SMILE</strong>
      </h2>
      <img
        src="/assets/img/ultradent/logo-small.png"
        alt=""
        class="logo-small"
      />
    </div>
  </div>
</section>

<!-- go family -->
<section class="mid-cta bg-light">
  <div class="container text-center">
    <img
      class="gofamily"
      src="/assets/img/ultradent/take-home-img1.png"
    />
  </div>
</section>

<!-- contact practice -->
<section class="bg-dark">
  <div class="container contact-practice-container">
    <div class="contact-practice-left"></div>
    <div class="contact-practice-right text-center">
      <h2 class="text-white"><strong>NEED TIME TO PAY?</strong></h2>
      <p class="text-white">
        From just {{ minAmount | customCurrency }} a day, that's something to
        smile about.
      </p>
      <br />
      <p class="text-white">
        Contact {{ getPracticeName() }} for more information.
      </p>
      <h2 class="text-white">
        <a href="#!"><strong class="text-white">CLICK HERE!</strong></a>
      </h2>
    </div>
  </div>
</section>

<!-- brand -->
<section class="mid-cta bg-light">
  <div class="container text-center bg-light brand">
    <h2 class="text-gray font-weight-normal brand-name">
      Professional Tooth Whitening
    </h2>
    <h1 class="text-gray brand-name">TAKE-HOME KIT</h1>
  </div>
  <!-- video section
    https://vimeo.com/337129709/5967bf8628
  -->
  <section class="video-section">
    <div class="container">
      <div class="row clearfix">
        <p class="lead text-center bold green-text">
          So how does it work? Watch the video to find out more
        </p>
        <div class="row clearfix video mb mt">
          <div style="padding: 56.25% 0 0 0; position: relative">
            <iframe
              src="https://player.vimeo.com/video/337129709?byline=0"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              "
              frameborder="0"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe>
          </div>
          <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- brand-image -->
<section class="bg-dark">
  <div class="container brand-image-container bg-dark">
    <div class="brand-image-left"></div>
    <div class="brand-image-right"></div>
  </div>
</section>

<div
  class="booking-cta"
  *ngIf="campaign && campaign.ID && merchant && merchant.ID"
>
  <div class="container text-center">
    <p class="white rm-mt">
      Want a free evaluation to see if ULTRADENT<sup>&reg;</sup> Take-Home are
      right for you?
    </p>
    <button class="btn-large" mat-raised-button (click)="launchBookingModal()">
      Book an appointment
    </button>
  </div>
</div>

<!-- brand texts -->
<section class="mid-cta bg-light">
  <div class="container brand-texts text-center">
    <div class="brand-texts-container bg-light">
      <div class="brand-texts-item">
        <h2 class="text-gray">Convenient Read-To-Go Whitening</h2>
        <p class="text-gray text-align-justify">
          For the patient who demands the convenience of a whitening treatment
          that can be performed anywhere, Opalescence Go whitening is the
          answer. With no need for custom trays or extra accessories, it can
          easily be carried in a pocket or bag, and the discreet tray material
          makes it possible to whiten with Opalescence Go whitening just about
          anywhere.
        </p>
      </div>
      <div class="brand-texts-item">
        <h2 class="text-gray">UltraFit&trade; Tray</h2>
        <p class="text-gray text-align-justify">
          The UltraFit tray is made of a unique, highly adaptable material that
          comfortably conforms to any patient's arches. The tray material
          responds to the internal body temperature of the patient and begins to
          mold around the occlusal surfaces and into the interproximal spaces.
          The UltraFit tray also provides superior coverage buccal to lingual
          and ensures that the maximum amount of the whitening gel remains on
          the teeth during whitening.
        </p>
      </div>
    </div>

    <div class="brand-texts-container bg-light">
      <div class="brand-texts-item">
        <h2 class="text-gray">Formulated with High Water Content</h2>
        <p class="text-gray text-align-justify">
          Many whitening products on the market dehydrate teeth, resulting in
          uncomfortable sensitivity for patients. Opalescence Go whitening is
          formulated with a high water content to keep the teeth hydrated during
          the whitening process. This high water content reduces shade relapse
          and dehydration to maximize patient comfort.
        </p>
      </div>
      <div class="brand-texts-item">
        <h2 class="text-gray">Gluten Free and Kosher Certified</h2>
        <p class="text-gray text-align-justify">
          Opalescence whitening products are gluten free and kosher certified,
          so they fit in with the lifestyles and beliefs of patients from any
          background.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container bg-dark in-office-container text-center">
    <div class="in-office-item-img"></div>
    <div class="in-office-item-texts">
      <h2 class="text-white">WANT A TAKE-HOME KIT INSTEAD?</h2>
      <h2 class="text-white">Ask us about Opalescence Boost!</h2>
      <h2 class="text-white"><a href="#!">CLICK HERE &gt;</a></h2>
    </div>
  </div>
</section>

<section
  class="lower-info"
  #target
  *ngIf="campaign && campaign.ID && merchant && merchant.ID && minAmount > 0"
>
  <div class="container text-center">
    <h2 class="blue">
      Think ULTRADENT Take-Home is the treatment you've been needing?
    </h2>

    <p class="lead">
      You can find out for sure by getting your treatment journey started today.
      To register your interest or learn more about how we can improve your
      smile, click below to check out the cost calculator and see how affordable
      your dream smile really is with our payment plans...
    </p>

    <div class="row clearfix flex">
      <div class="two-thrd-width centered">
        <mat-card class="rm-bp mat-elevation-z6">
          <div class="row clearfix dealArea rel flex">
            <div class="half-width rel full-height img">
              <img
                src="/assets/img/dentists-clear-aligner.png"
                alt="Smile-Right-Payment-Options"
                class="promoPos"
              />
            </div>
            <div class="half-width text-left rel">
              <div class="col-right">
                <ng-container *ngIf="merchant">
                  <h3 class="white rm-m">from as little as</h3>
                  <h1 class="offerValue">{{ minAmount | customCurrency }}</h1>
                  <h3 class="white rm-mt mb">per day</h3>
                </ng-container>

                <ng-container *ngIf="!merchant">
                  <h3 class="white rm-mt add-mb">
                    Book an appointment now... It's more affordable than you
                    might think!
                  </h3>
                </ng-container>
                <button
                  *ngIf="merchant"
                  mat-raised-button
                  color="accent"
                  class="btn-large"
                  (click)="launchApplyModal()"
                >
                  Apply now ! <mat-icon>chevron_right</mat-icon>
                </button>

                <button
                  *ngIf="!merchant"
                  mat-raised-button
                  color="accent"
                  class="btn-large"
                  (click)="launchBookingModal()"
                >
                  Book an appointment <mat-icon>chevron_right</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <p class="small add-mt">
      Disclaimer: Please note: Prices is an indication only and price may vary
      between patients. A final price can only be established once consultation
      has occurred.
    </p>
  </div>
</section>
