<div class="premm">
    <div class="head">
        <h3>You’ve chosen the Standard package!</h3>
    </div>
    <div class="body">
        <p>Our standard package was designed for practices who want more than just patient finance - they want the full communication package. With standard, you can have up to 2 practitioners experience a professional communication and marketing too to help increase treatment case acceptance. This includes:</p>
        <div class="body-main">
            <div class="body-l">
                <div class="imgbox">
                    <img class="img" src="/assets/img/campaign/price/Asset_10.png">
                </div>
            </div>
            <div class="body-r">
                <div class="txtbox">
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Patient Appointments</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Patient Health History</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Patient Portal</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Marketing Campaigns (email/SMS/social)</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Smile Right Training Academy</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Up to 2 Practioners</p>
                    </div>
                    <div class="item">
                        <mat-icon>check</mat-icon><p>Plus More...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-bot">
            <button mat-stroked-button class="pre" routerLink="/plans">Complete Sign Up <mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>
</div>

