<!-- banner -->
<section class="clearfix heading-banner">
  <div class="container">
    <img class="heading-img" src="/assets/img/philipszoominoffice/logo.png">
  </div>
</section>

<!-- intro -->
<section class="mid-cta bg-dark text-white">
  <div class="container text-center">
    <h2 *ngIf="userData.firstName"> Hi {{ userData.firstName }},</h2>
    <p class="text-white lead">
      Want whiter teeth? With Philips Zoom! <strong>take-home</strong>
      teeth whitening kits are a safe and convenient way to get your smile
      noticeably whiter in one to two weeks!
    </p>
  </div>
</section>

<!-- woman smiling image -->
<section class="lower-img">
</section>


<!-- contact practice for more info -->
<section class="mid-cta bg-dark text-white">
  <div class="container text-center">
    <h2><strong>NEED TIME TO PAY?</strong></h2>
    <p class="text-white">From just {{minAmount | customCurrency}} a day, that's something to smile about.</p>
    <br>
    <p class="text-white">Contact {{ getPracticeName() }} for more information.</p>
    <h2><strong>CLICK HERE!</strong></h2>
  </div>
</section>

<!-- video -->
<section class="video">

  <div class="container">

    <p class="lead">
      So how does it work? Watch the video below and find out more information, step by step!
    </p>


    <div class="video-frame">
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe
          src="https://player.vimeo.com/video/364453958?byline=0"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
          allowfullscreen></iframe></div>
      <script src="https://player.vimeo.com/api/player.js"></script>

    </div>


  </div>
</section>

<!-- daywhite image -->
<section class="daywhite-img container">
</section>

<!-- options image -->
<section class="options container">
  <img class="options-img" src="/assets/img/philipszoominoffice/options.png">
</section>

<!-- hands image -->
<section class="hands-img">
</section>


<!-- booking -->
<div class="booking-cta" *ngIf="campaign && campaign.ID && merchant && merchant.ID">
  <div class="container text-center">
    <p class="white rm-mt">Want a free evaluation to see if Philips Zoom!<sup>&reg;</sup> take-home are right for you? </p>
    <button class="btn-large" mat-raised-button (click)="launchBookingModal()">Book an appointment</button>
  </div>
</div>


<section class="mid-cta bg-dark text-white">
  <div class="container">
    <h2 class="text-align-justify"><strong>Why choose Philips Zoom! take-home teeth whitening kit?</strong></h2>
    <div class="horizontal-line"></div>
    <div class="teeth-whitened-img"></div>
    <p class="text-align-justify text-white">
      You apply the take-home teeth whitening kits
      yourself, meaning you can get whiter teeth when
      and where you want.
    </p>
    <img class="teeth-img" src="/assets/img/philipszoominoffice/teeth.png">


    <div class="steps-item bg-dark">
      <img class="steps-image" src="/assets/img/philipszoominoffice/chair.png">
      <div class="steps-labels">
        <p class="text-align-justify text-white">To ensure you have a safe and
          comfortable experience, all
          our teeth whitening
          treatments start with a
          consultation with your dental
          practitioner to ensure your
          mouth is healthy and you are
          read to whiten.
        </p>
      </div>
    </div>

    <div class="steps-item bg-light">
      <div class="steps-labels">
        <p class="text-align-justify text-white">They will prescribe the best teeth
          whitening kit for you, and answer
          any questions you may have.
          The you\'ll be full armed with
          the knowledge to safely and
          effectively whiten your smile at
          home.
        </p>
      </div>
      <img class="steps-image" src="/assets/img/philipszoominoffice/tooth.png">
    </div>

  </div>
</section>

<!-- apply booking -->
<section class="lower-info" #target *ngIf="campaign && campaign.ID && merchant && merchant.ID && minAmount>0">

  <div class="container text-center">
    <!-- <h2 class="blue">Worried about cost?
    </h2>

    <p class="lead rm-mb">
      You can have a brand new smile for as little as {{minAmount | customCurrency}} a day* with our affordable payment plans. Click below for more information.
    </p>
 -->

    <div class="row clearfix flex" *ngIf="merchant && userData   && userData['Amount'] ">
      <div class="two-thrd-width centered">

        <mat-card class="rm-bp mat-elevation-z6">

          <div class="row clearfix dealArea rel flex">
            <div class="half-width rel full-height img">
              <img src="/assets/img/dentists-clear-aligner.png" alt="Smile Right payment options" class="promoPos" />
            </div>
            <div class="half-width text-left rel">
              <div class="col-right">
                <ng-container>
                  <h3 class="white rm-m">from as little as</h3>
                  <h1 class="offerValue">{{minAmount | customCurrency}}</h1>
                  <h3 class="white rm-mt ">per day</h3>
                  <p class="small rm-mt">Full treatment value from {{userData['Amount'] | customCurrency}}*</p>
                </ng-container>

                <ng-container>
                  <h3 class="white rm-mt add-mb">Book an appointment now... It's more affordable than you might think!
                  </h3>
                </ng-container>
                <button mat-raised-button *ngIf="merchant" color="accent" class="btn-large mb mr"
                  (click)="launchApplyModal()">Apply now !
                  <mat-icon>chevron_right</mat-icon></button>

                <button mat-raised-button color="primary" class="btn-large" (click)="launchBookingModal()">Book an
                  appointment
                  <mat-icon>chevron_right</mat-icon></button>
              </div>
            </div>
          </div>
        </mat-card>

      </div>
    </div>

    <p class="small add-mt"><strong>*</strong> Please note: Prices is an indication only and price may vary between
      patients. A
      final price can only be established once consultation has occurred.</p>


    <!-- <p *ngIf="merchant">{{merchant['ThirdPartyBooking_URL']}}</p> -->
  </div>

</section>
