<div>
    <app-bluebg></app-bluebg>
    <section class="top">
        <div class="top-main">
            <div class="top-l" data-aos="fade-right" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                <div class="top-txtbox">
                    <h5>Home &rarr; Pricing &rarr; Free</h5>
                    <h1>Want to pay no monthly subscription fees?</h1>
                    <p>We are so confident that our platform, when used, will increase your case acceptance and overall practice profitability that we are prepared to waive our monthly fee*.</p>
                </div>
            </div>
            <div class="top-r" data-aos="fade-left" data-aos-delay="500" data-aos-once="true">
                <div class="imgbox">
                    <img class="img" src="/assets/img/campaign/price/Asset_5.png">
                </div>
            </div>
        </div>
    </section>
    <section class="mid">
        <div class="mid-main">
            <div class="mid-top">
                <h3 data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">Now that we have your attention, what does free mean?</h3>
                <div class="mid-sel">
                    <div class="mid-seli" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                        <mat-icon>check</mat-icon><p>No monthly subscription fees</p>
                    </div>
                    <div class="mid-seli" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                        <mat-icon>check</mat-icon><p>No excess data charges for more patients</p>
                    </div>
                    <div class="mid-seli" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                        <mat-icon>check</mat-icon><p>No extra charges for more users, operating chairs or even the number of windows in your practice</p>
                    </div>
                </div>
                <div class="mid-selb" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                    <p><i>We believe <b>free</b> should mean <b>free</b>!</i></p>
                </div>
            </div>
            <div class="mid-bot">
                <h3 data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">What do I have to do?</h3>
                <div class="mid-botm">
                    <div class="mid-bot-l" data-aos="fade-right" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                        <div class="imgbox">
                            <img class="img" src="/assets/img/campaign/price/Asset_6.png">
                        </div>
                    </div>
                    <div class="mid-bot-r" data-aos="fade-left" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                        <div class="mid-txtbox">
                            <p>Other than using the platform, absolutely nothing!</p>
                            <p>Present a minimum number of treatment plans per month digitally using the platform, and we will automatically wave your monthly subscription fee*. </p>
                            <p>That's it, nothing more!</p>
                            <label>*Excluding SMS charges incurred for the month - bill separately.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="target">
        <div class="target-main" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
            <h3>What’s my target?</h3>
            <p>We calculate targets on the number of practitioners working in your practice and the minimum number of patient interactions via the platform.</p>
            <p>The targets are very achievable. To find out your target, use the calculator below.</p>
            <div class="btn-box" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                <button mat-stroked-button (click)="oncalmodal()">Target Calculator <mat-icon>chevron_right</mat-icon></button>
            </div>
            <div class="target-imgbox" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
                <img class="img" src="/assets/img/campaign/price/Asset_7.png">
            </div>
        </div>
    </section>
    <section class="bot">
        <div class="bot-main" >
            <img class="bot-img" src="/assets/img/campaign/price/Asset_8.png" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">
            <h3 data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">So if it is for FREE, how do we maintain a financially viable business?</h3>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">Whilst we strive to help practices improve patient communication and marketing, the way we get paid is when patients finance their treatment. We know not everyone is interested or needs to finance treatment however, how do you know who does?</p>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">The only sure way to know is to present all treatment the same way with payment options to everyone, hence why we have built a communication platform that caters for patients electing to proceed several ways or just provide feedback.</p>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">When patients require payment options to afford their treatment, we are here to help with competitive payment plans and personal loans. You can only achieve affordable treatment in your patient minds by presenting digitally with offers for finance included.</p>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">With our business model, the only way we can have the opportunity to make money is if more of your patients accept treatment, thus aligning our mutual interests.</p>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">Hence our focus to provide the best possible platform for all your patient communication, marketing, compliance, and financing needs.</p>
            <p data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-sine" data-aos-once="true">More treatment acceptance means a win for both you and Smile Right.</p>
        </div>
    </section>
</div>